* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: "DinProBold";
  src: url("../assets/fonts/DINPro-Bold.otf");
  font-weight: bold;
  font-style: bold;
}

@font-face {
  font-family: "DinProBlack";
  src: url("/assets/fonts/DINPro-Black.ttf");
  font-weight: bold;
  font-style: bold;
}

@font-face {
  font-family: "MyriadPro";
  src: url("/assets/fonts/MyriadPro.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "AvenirReg";
  src: url("/assets/fonts/AvenirReg.ttf");
  font-weight: normal;
  font-style: normal;
}

.button1 {
  position: relative;
  display: inline-block;
  font-size: 0.9375rem;
  line-height: 1.5;
  font-family: din-condensed, sans-serif;
  letter-spacing: 0.95px;
  text-transform: uppercase;
  color: transparent;
  background-color: #000;
  padding: 19px 45px;
  border-radius: 0px;
  cursor: pointer;
  overflow: hidden;
  -webkit-transition: 0.2s all ease-in;
  -moz-transition: 0.2s all ease-in;
  -ms-transition: 0.2s all ease-in;
  -o-transition: 0.2s all ease-in;
  transition: 0.2s all ease-in;
}

.button1 > div {
  overflow: hidden;
  position: relative;
}

.button1 > div:before {
  content: attr(button-text);
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  color: #fff;
  z-index: -1;
  padding: 19px 45px;
}

.button1 > div > span {
  display: block;
  color: #fff;
  -webkit-transition: 0.7s cubic-bezier(0.485, 0.135, 0, 0.995);
  -o-transition: 0.7s cubic-bezier(0.485, 0.135, 0, 0.995);
  transition: 0.7s cubic-bezier(0.485, 0.135, 0, 0.995);
}

.button1 > div > span.hidden {
  -webkit-transform: translateY(-18%);
  -ms-transform: translateY(-18%);
  transform: translateY(-18%);
  position: absolute;
}

.button1 > div:before {
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
  -webkit-transition: 0.7s cubic-bezier(0.485, 0.135, 0, 0.995);
  -o-transition: 0.7s cubic-bezier(0.485, 0.135, 0, 0.995);
  transition: 0.7s cubic-bezier(0.485, 0.135, 0, 0.995);
}

.button1:before {
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
  -webkit-transition: 0.2s all ease-in;
  -moz-transition: 0.2s all ease-in;
  -ms-transition: 0.2s all ease-in;
  -o-transition: 0.2s all ease-in;
  transition: 0.2s all ease-in;
}

.button1:after {
  -webkit-transition: 0.2s all ease-in;
  -moz-transition: 0.2s all ease-in;
  -ms-transition: 0.2s all ease-in;
  -o-transition: 0.2s all ease-in;
  transition: 0.2s all ease-in;
}

.button1:hover span {
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: 0.7s cubic-bezier(0.485, 0.135, 0, 0.995);
  -o-transition: 0.7s cubic-bezier(0.485, 0.135, 0, 0.995);
  transition: 0.7s cubic-bezier(0.485, 0.135, 0, 0.995);
}

.button1:hover span.hidden {
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: 0.7s cubic-bezier(0.485, 0.135, 0, 0.995);
  -o-transition: 0.7s cubic-bezier(0.485, 0.135, 0, 0.995);
  transition: 0.7s cubic-bezier(0.485, 0.135, 0, 0.995);
  -webkit-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.button--full-width {
  display: block;
  text-align: center;
  margin-right: 0;
}

.button--is-active {
  pointer-events: none;
  color: white;
}

.button--white {
  color: black;
  background-color: white;
}

.button--white > div span {
  color: #000;
}

.button--ghost {
  border: solid 1px #fff;
  background-color: transparent;
  color: transparent;
}

.button--ghost--black {
  border: solid 1px #000;
  color: transparent;
  background-color: #fff;
}

.button--ghost--black > div > span {
  color: #000;
}

.button--ghost--black:after,
.button--ghost--black:before,
.button--ghost--black span {
  color: #000;
}

.button:focus,
.button:hover {
  text-decoration: none;
}

.off-screen {
  opacity: 1;
}
.off-screen.off-screen--fade,
.off-screen.off-screen--from-left,
.off-screen.off-screen--from-right {
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
.off-screen--fade-up {
  -ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
.off-screen--fade-up.off-screen--hide,
.off-screen--fade-up.off-screen--static {
  -ms-transform: translateY(30px);
  -webkit-transform: translateY(30px);
  transform: translateY(30px);
  opacity: 0;
}
.off-screen--from-left {
  -ms-transform: translateX(0);
  -webkit-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
.off-screen--from-left.off-screen--hide {
  -ms-transform: translateX(70px);
  -webkit-transform: translateX(70px);
  transform: translateX(70px);
  opacity: 0;
}
.off-screen--hide.off-screen--from-left {
  -ms-transform: translateX(-150px);
  -webkit-transform: translateX(-150px);
  transform: translateX(-150px);
  opacity: 0;
}
.off-screen--hide.off-screen--from-right {
  -ms-transform: translateX(150px);
  -webkit-transform: translateX(150px);
  transform: translateX(150px);
  opacity: 0;
}
.off-screen--hide.off-screen--from-bottom {
  -ms-transform: translateY(150px);
  -webkit-transform: translateY(150px);
  transform: translateY(150px);
  opacity: 0;
}
.off-screen--hide.off-screen--fade {
  opacity: 0;
}

.off-screen--alternate > div > div {
  -ms-transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  opacity: 1;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
.off-screen--alternate > div.off-screen--hide:nth-child(2n) div:first-child {
  -ms-transform: translateX(150px);
  -webkit-transform: translateX(150px);
  transform: translateX(150px);
  opacity: 0;
}
.off-screen--alternate > div.off-screen--hide:nth-child(2n) div:nth-child(2) {
  -ms-transform: translateX(-150px);
  -webkit-transform: translateX(-150px);
  transform: translateX(-150px);
  opacity: 0;
}
.off-screen--alternate > div.off-screen--hide:nth-child(odd) div:first-child {
  -ms-transform: translateX(-150px);
  -webkit-transform: translateX(-150px);
  transform: translateX(-150px);
  opacity: 0;
}
.off-screen--alternate > div.off-screen--hide:nth-child(odd) div:nth-child(2) {
  -ms-transform: translateX(150px);
  -webkit-transform: translateX(150px);
  transform: translateX(150px);
  opacity: 0;
}
.off-screen--sequential > * {
  -ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.off-screen--sequential.off-screen--hide > * {
  -ms-transform: translateY(30px);
  -webkit-transform: translateY(30px);
  transform: translateY(30px);
  opacity: 0;
}
.off-screen--sequential > :first-child {
  -webkit-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
}
.off-screen--sequential > :nth-child(2) {
  -webkit-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
.off-screen--sequential > :nth-child(3) {
  -webkit-transition-delay: 0.4s;
  -o-transition-delay: 0.4s;
  transition-delay: 0.4s;
}
.off-screen--sequential > :nth-child(4) {
  -webkit-transition-delay: 0.6s;
  -o-transition-delay: 0.6s;
  transition-delay: 0.6s;
}
.off-screen--sequential > :nth-child(5) {
  -webkit-transition-delay: 0.8s;
  -o-transition-delay: 0.8s;
  transition-delay: 0.8s;
}
.off-screen--sequential > :nth-child(6) {
  -webkit-transition-delay: 1s;
  -o-transition-delay: 1s;
  transition-delay: 1s;
}
.off-screen--sequential > :nth-child(7) {
  -webkit-transition-delay: 1.2s;
  -o-transition-delay: 1.2s;
  transition-delay: 1.2s;
}
.off-screen--sequential > :nth-child(8) {
  -webkit-transition-delay: 1.4s;
  -o-transition-delay: 1.4s;
  transition-delay: 1.4s;
}
.off-screen--sequential > :nth-child(9) {
  -webkit-transition-delay: 1.6s;
  -o-transition-delay: 1.6s;
  transition-delay: 1.6s;
}
.off-screen--sequential > :nth-child(10) {
  -webkit-transition-delay: 1.8s;
  -o-transition-delay: 1.8s;
  transition-delay: 1.8s;
}
.off-screen--sequential > :nth-child(11) {
  -webkit-transition-delay: 2s;
  -o-transition-delay: 2s;
  transition-delay: 2s;
}
.off-screen--sequential > :nth-child(12) {
  -webkit-transition-delay: 2.2s;
  -o-transition-delay: 2.2s;
  transition-delay: 2.2s;
}
.off-screen--sequential > :nth-child(13) {
  -webkit-transition-delay: 2.4s;
  -o-transition-delay: 2.4s;
  transition-delay: 2.4s;
}
.off-screen--sequential > :nth-child(14) {
  -webkit-transition-delay: 2.6s;
  -o-transition-delay: 2.6s;
  transition-delay: 2.6s;
}
.off-screen--sequential > :nth-child(15) {
  -webkit-transition-delay: 2.8s;
  -o-transition-delay: 2.8s;
  transition-delay: 2.8s;
}
.off-screen--pop-up {
  overflow: hidden;
}
.off-screen--pop-up > * {
  -webkit-transition: 0.7s cubic-bezier(0.485, 0.135, 0, 0.995);
  -o-transition: 0.7s cubic-bezier(0.485, 0.135, 0, 0.995);
  transition: 0.7s cubic-bezier(0.485, 0.135, 0, 0.995);
  -webkit-transform: translate(0);
  -ms-transform: translate(0);
  transform: translate(0);
}
.off-screen--pop-up.off-screen--static--home > *,
.off-screen--pop-up.off-screen--static > * {
  -webkit-transform: translateY(110%);
  -ms-transform: translateY(110%);
  transform: translateY(110%);
  -webkit-transition: 0.7s cubic-bezier(0.485, 0.135, 0, 0.995);
  -o-transition: 0.7s cubic-bezier(0.485, 0.135, 0, 0.995);
  transition: 0.7s cubic-bezier(0.485, 0.135, 0, 0.995);
}

.slide-up div {
  overflow: visible;
}
.slide-up > div {
  overflow: hidden;
}
.slide-up > div > span {
  display: block;
  -webkit-transform: translateY(115%);
  -ms-transform: translateY(115%);
  transform: translateY(115%);
  -webkit-transition: 0.7s cubic-bezier(0.485, 0.135, 0, 0.995);
  -o-transition: 0.7s cubic-bezier(0.485, 0.135, 0, 0.995);
  transition: 0.7s cubic-bezier(0.485, 0.135, 0, 0.995);
}
.slide-up > div:last-of-type span {
  -webkit-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
.slide-up--loaded div span {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: 0.7s cubic-bezier(0.485, 0.135, 0, 0.995);
  -o-transition: 0.7s cubic-bezier(0.485, 0.135, 0, 0.995);
  transition: 0.7s cubic-bezier(0.485, 0.135, 0, 0.995);
}
.slide-up--loaded div:last-of-type span {
  -webkit-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
.slide-up--loaded.button-container div span {
  -webkit-transition: 0.6s ease-out;
  -o-transition: 0.6s ease-out;
  transition: 0.6s ease-out;
}
.slide-up--up div span {
  -webkit-transform: translateY(-110%);
  -ms-transform: translateY(-110%);
  transform: translateY(-110%);
  -webkit-transition: 0.7s cubic-bezier(0.485, 0.135, 0, 0.995);
  -o-transition: 0.7s cubic-bezier(0.485, 0.135, 0, 0.995);
  transition: 0.7s cubic-bezier(0.485, 0.135, 0, 0.995);
}

/***** NAVBAR *****/

.nav-container {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: center;

  width: 100%;
  margin-top: 52px;
  text-transform: uppercase;
}

.menu-main-menu-container {
  margin-left: auto;
  margin-right: 3%;
}

.nav-logo-container {
  margin-left: 3%;
  cursor: pointer;
}

.nav-link-container {
  display: flex;
  margin-left: auto;
  margin-right: 3%;

  flex-flow: row;
  flex-wrap: nowrap;
}

.link {
  font-family: "DinProBold";
  white-space: nowrap;

  margin: 20px;
  padding: 3px;
    text-align: center;

  font-size: 18px;

  position: relative;
  color: #000;
	cursor: pointer;
	line-height: 1; /*задаём высоту строки*/
	text-decoration: none; /*убираем подчёркивание*/
}
.link:hover {
  text-decoration: none;
  color: black;
}
.link:after {
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    width: 0;/*задаём длинну линии до наведения курсора*/
    height: 2px; /*задаём ширину линии*/
    background-color: #000; /*задаём цвет линии*/
    content: "";
    transition: width 0.3s ease-out; /*задаём время анимации*/
  
}

.link:hover:after,
.link:focus:after {
	width: 100%; /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/
}

.nav-link-container-dark {
  display: flex;
  margin-left: auto;
  margin-right: 3%;

  flex-flow: row;
  flex-wrap: nowrap;
}

.menu-main-container {
  padding-top: 40px;
}

@media (max-width: 999px) {
  .menu-main-menu-container {
    margin-right: 0;
  }

  .nav-link-container-dark {
    flex-direction: column;
    margin-top: 90px;
    margin-left: 60px;
  }

  .nav-link-container-dark a {
    width: fit-content;
  }
  .link:after{
    background-color: #fff;
  }
  .main-container-content-body {
    width: 100%;
  }

  .nav-link-container-dark a {
    color: #fff;
  }
  
  .nav-link-container-dark a:hover {
    color: #fff;
  }
}

/* MENU */
.menu__open__icon {
  height: 60px;
  width: 62px;
  position: fixed;
  right: 0;
  top: 50px;
  background-color: black;
  z-index: 9999;
}

@media (min-width: 999px) {
  .menu__open__icon {
    display: none;
  }
}

.hamburger__inner {
  position: absolute;
  top: 50%;
  left: 26px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 15px;
  height: 2px;
  background-color: white;
}

.hamburger__inner:before {
  content: "";
  position: absolute;
  top: -7px;
  left: 0px;
  width: 25px;
  height: 2px;
  background-color: white;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  -o-transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

.hamburger__inner:after {
  content: "";
  position: absolute;
  top: 7px;
  left: 0px;
  width: 20px;
  height: 2px;
  background-color: white;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  -o-transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

.hamburger__inner.open-menu {
  background-color: transparent;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.hamburger__inner.open-menu:after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 0px;
  width: 25px;
}

.hamburger__inner.open-menu:before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 0px;
}

@media (max-width: 999px) {
  .menu-main-menu-container {
    position: fixed;
    -webkit-transform: translate(50vw);
    -ms-transform: translate(50vw);
    transform: translate(50vw);
    top: 0;
    right: 0;
    width: 50vw;
    height: 100vh;
    background-color: #000;
    -webkit-transition: 0.7s cubic-bezier(0.485, 0.135, 0, 0.995);
    -o-transition: 0.7s cubic-bezier(0.485, 0.135, 0, 0.995);
    transition: 0.7s cubic-bezier(0.485, 0.135, 0, 0.995);
    z-index: 999;
  }

  .menu-main-menu-container ul {
    left: 50px;
    right: unset;
  }

  .menu-main-menu-container ul li {
    display: block;
    text-align: left;
    margin-bottom: 15px;
  }

  .menu-main-menu-container.menu-open {
    -webkit-transform: translate(0px);
    -ms-transform: translate(0px);
    transform: translate(0px);
    -webkit-transition: 0.7s cubic-bezier(0.485, 0.135, 0, 0.995);
    -o-transition: 0.7s cubic-bezier(0.485, 0.135, 0, 0.995);
    transition: 0.7s cubic-bezier(0.485, 0.135, 0, 0.995);
  }
}

@media (max-width: 767.98px) {
  .menu-main-menu-container {
    -webkit-transform: translate(100vw);
    -ms-transform: translate(100vw);
    transform: translate(100vw);
    width: 100vw;
    z-index: 999;
  }
}

/* MAIN */
.main-container {
  display: block;
  width: 100%;
  height: 100%;
}

.main-container-content {
  height: 100%;
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/***** NEWS *****/
.news {
  width: 100%;
  height: 100%;
  /* margin-top: 350px;
 */
  position: relative;
  top: 1050px;
}

.news-head {
  width: 100%;

  position: absolute;
  top: -105px;
}

.news-title {
  font-size: 180px;
  font-family: "DinProBold";

  text-transform: uppercase;
  color: #000;
}

.news-body {
  width: 100%;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  /* margin-left: 90px; */

  position: relative;
  align-items: center;
  justify-content: center;
}

.news-body__items-up {
  width: 90%;
  display: flex;
  flex-direction: row;
}

.items-up__item-left {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-right: 35px; */
  /* padding-bottom: 190px; */
}

.items-up__item-right {
  width: 60%;
  padding-top: 25px;
  padding-left: 30px;

}

.item-content__image {
  /* width: 580px; */
  /* height: 410px; */
  padding-bottom: 35px;
}

.item-content__title {
  font-size: 48px;
  font-family: "DinProBold";

  text-transform: uppercase;
  text-align: left;

  /* padding-right: 50px; */

  color: #000;
}

.item-content__desc {
  font-family: "AvenirReg";
  font-size: 17px;

  line-height: 25px;

  padding-top: 10px;
  padding-bottom: 25px;
  padding-right: 50px;

  text-align: left;

  color: #a19d9d;
}

.item-content__button {
  padding: 22px 43px;
  background-color: #000000;
  border: none;
  color: white;
  font-size: 17px;
  text-transform: uppercase;
  font-family: "DinProBold";
  cursor: pointer;
}

.item-content__rectangle-2 {
  position: relative;
  top: -190px;
  left: 295px;

  width: 500px;
  height: auto;

  padding: 25px;
  background-color: white;
}

.news-body__items-down {
  width: 85%;
  display: flex;
  flex-direction: row;

  position: relative;
  top: -210px;
  left: 45px;
}

.items-down__item-left {
  display: flex;
  align-items: center;
  width: 50%;
}

.items-down__item-right {
  position: relative;
  top: 120px;
  left: 150px;
}

.item-content__rectangle-3 {
  position: relative;
  top: -130px;

  width: 460px;
  height: 190px;
  padding: 25px;

  background-color: white;
}

/***** NEWS *****/

/***** SUBSCRIBE *****/

.subscribe {
  display: flex;
  background-color: black;
  position: relative;
  top: 1670px;
  width: 85%;
  margin: 0 auto;
  padding: 10px;
}

.subscribe-title {
  width: 90%;
  padding: 35px 40px;
  color: white;
  font-family: "DinProBold";
  text-transform: uppercase;
}

.subscribe-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 35px;
}

.button {
  padding: 20px 40px;
  border: none;
  background-color: #ffffff;
  color: black;
  font-size: 17px;
  font-family: "DinProBold";
  text-transform: uppercase;
  width: 180px;
  cursor: pointer;
}

/***** SUBSCRIBE *****/

/***** ARTICLES *****/

.articles {
  position: relative;
  top: 1750px;
  width: 85%;
  margin: 0 auto;
}

.articles-head {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding-bottom: 50px;
  justify-content: center;
  align-items: center;
}

.articles-title {
  width: 50%;

  font-size: 48px;
  font-family: "DinProBold";

  text-transform: uppercase;
  text-align: left;

  padding-right: 95px;
  color: #000;
}

.articles-filter {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.selected-filter__input {
  width: 50%;
  height: 65px;
  text-transform: uppercase;

  font-size: 20px;
  font-family: "DinProBold";

  padding-left: 15px;
}

.articles-up {
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
}

.articles-down {
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  width: 100%;
}

.articles-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* align-items: center; */
  flex: 1;
}
.articles-card:nth-child(1){
}
.articles-card:nth-child(3){
}

.articles-card__header{
  width: 100%;
}
.articles-card__body{
  width:100%;
}

.articles-card__image {
  /* width: 375px; */
  /* height: 250px; */
}

.articles-card__title {
  font-size: 19px;
  font-family: "DinProBold";
  text-transform: uppercase;
  text-align: left;
  color: #000;
}

.articles-card__desc {
  font-family: "AvenirReg";
  font-size: 16px;

  line-height: 25px;

  padding-top: 20px;

  text-align: left;

  color: #a19d9d;
}

/***** ARTICLES *****/

/***** WHERE NEXT *****/

.body-container-wherenext {
  position: relative;
  width: 100%;
  top: 1650px;
  margin: 0 auto;
  padding-top: 185px;
  padding-bottom: 185px;
  margin-top: 90px;
}

.body-container-wherenext h2 {
  font-family: "DinProBold";
  width: 100%;

  top: 0;
  position: absolute;
  text-align: center;
  color: #c6cad245;
  user-select: none;
  font-size: 240px;
  z-index: 1;
}

.body-container-wherenext-container {
  max-width: 1360px;
  width: 100%;

  display: flex;
  margin: 0 auto;
  margin-top: 40px;
}

.body-container-wherenext-container-item {
  position: relative;
  max-width: 33%;
  padding-right: 15px;
  padding-left: 15px;
}

.body-container-wherenext-container-item a {
  color: #13212e;
  text-decoration: none;
  background-color: transparent;
}

.teaser {
  text-align: center;
  border: 1px solid #000;
  padding: 50px 30px;
}

.teaser p {
  font-family: "AvenirReg";

  font-size: 18px;
  line-height: 1.58824;
  color: #858586;

  margin-top: 0;
  min-height: 130px;
}

.teaser-title {
  position: absolute;
  top: -17px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}

.teaser-title h3 {
  font-family: "DinProBold";
  background-color: #fff;
  margin-bottom: 0.5rem;
  content: "";

  position: relative;
  padding: 0 10px;
  display: inline-block;

  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;

  line-height: 1;
  letter-spacing: -0.3px;
}

.teaser-title-xs {
  position: relative;
  padding: 0 10px;
  display: inline-block;
  font-size: 2.5rem;
  line-height: 1;
  letter-spacing: -0.3px;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  color: #000;
}

.title__inner {
  font-family: "DinProBold";

  line-height: 1;
  letter-spacing: -0.3px;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  color: #000;
  text-align: center;
}

.teaser-button {
  font-family: "DinProBold";

  position: absolute;
  bottom: -31px;
  left: 50%;
  transform: translateX(-50%);
}

.teaser-button span {
  font-family: "DinProBold";
}

.teaser-button-ghost {
  min-width: 184.77px;
  border: solid 1px #000;
  color: transparent;
  background-color: #fff;
  position: relative;
  display: inline-block;
  line-height: 1.5;
  padding: 19px 45px;
  border-radius: 0px;
  cursor: pointer;
  overflow: hidden;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 0.95px;
  transition: 0.2s all ease-in;
  text-align: center;
}

/***** WHERE NEXT *****/

/***** FOOTER *****/

.footer {
  padding: 80px 0;
  background-color: #000;
  color: #fff;
  position: relative;
  top: 2320px;
}

.footer-container-item.logo {
  flex: 0 0 20%;
  max-width: 20%;
}

.footer-container-main {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  max-width: 1360px;
  width: 100%;

  margin-top: 80px;
  margin: auto;
  margin-bottom: 80px;
}

.footer-container-item.menu {
  display: flex;
  justify-content: flex-end;
  flex: 0 0 40%;
  max-width: 40%;
}

/* @media (min-width: 992px) {
.footer-container-item.menu {
    margin-left: 8.33333%;
} */

.footer-container-item.menu a {
  font-family: "DinProBold";
  font-size: 26px;
  text-transform: uppercase;

  color: #ffffff;
  white-space: nowrap;
  cursor: pointer;
  padding: 20px;
  text-align: center;
}

.footer-container-item.brands {
  flex: 0 0 40%;
  max-width: 40%;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.footer-container-brands-head {
  font-family: "DinProBold";
  position: relative;
  font-size: 26px;
  text-transform: uppercase;

  color: #fff;
  line-height: 1;
  margin-bottom: 25px;
}

.footer-container-brands-head::before {
  content: "";
  right: 0;
  top: 50%;
  position: absolute;
  width: calc(100% - 100px);
  height: 1px;
  background-color: #fff;
}

.footer-container-brands-ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-container-brands-ul a {
  font-family: "AvenirReg";
  font-size: 16px;
  text-decoration: none;
  outline: none;

  color: #fff;
  list-style: none;
  text-indent: 0;
  margin-bottom: 4px;
  text-transform: uppercase;
}

.footer-container-many {
  display: flex;
  max-width: 1360px;
  width: 100%;
  margin: auto;
}

.footer-container-many-item {
  font-family: "AvenirReg";
  font-size: 14px;

  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

.footer-container-many-item.right {
  text-align: right;
}
/***** FOOTER *****/

.container__mobile {
  display: none;
}

/* Mobyle */
@media (max-width: 999px) {
  .main-container {
    display: none;
  }

  .nav-container{
    position: inherit;
  }
  .container__mobile {
    display: block;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 52px;
  }
  .container__mobile-img img {
    width: 100%;
    height: auto;
  }
  .container__mobile-header h1 {
    font-family: "DinProBold";
    font-size: 90px;
    color: #000;
    line-height: 71px !important;
    margin-bottom: 10px;
  }
  .img1 {
    margin-top: 41px;
    margin-bottom: 15px;
  }
  .container__mobile-title {
    font-family: "DinProBold";
    font-size: 32px;
    color: #000;
    line-height: 1.1;
  }
  .container__mobile-title p {
    margin-bottom: 15px;
  }
  .container__mobile-main-text {
    font-family: "AvenirReg";
    font-size: 15px;
    color: #a1a1a2;
  }
  .img2 {
    margin-top: 35px;
    margin-bottom: 15px;
  }
  .img3 {
    margin-top: 40px;
    margin-bottom: 15px;
  }
  .img4 {
    margin-top: 13px;
    margin-bottom: 13px;
  }
  .img5 {
    margin-top: 36px;
    margin-bottom: 13px;
  }
  .img6 {
    margin-top: 40px;
    margin-bottom: 13px;
  }
  .text1 {
    margin-top: 18px;
    margin-bottom: 55px;
  }
  .main-text1 {
    margin-top: 18px;
    margin-bottom: 16px;
  }
  .subscribe {
    top: 0px;
    flex-direction: column;
    width: 103%;
    margin-left: -4%;
  }
  .dop-subscribe {
    position: relative;
  }
  .subscribe-button{
    padding-right: 0;
  }
  .articles-head {
    flex-direction: column;
    padding-left: 0;
    display: block;
  }
  .articles-title {
    width: 100%;
    margin-top: 49px;
    margin-bottom: 10px;
    padding-right: 0;
  }
  .articles-title h1 {
    font-size: 44px;
    font-family: "DinProBold";
    color: #000;
  }
  .body-container-wherenext {
    top: 0;
    margin-top: 53px;
    padding-bottom: 0;
  }
  .body-container-wherenext h2 {
    font-size: 75px;
    margin-bottom: -2%;
  }
  .articles-filter {
    width: 100%;
    display: block;
  }
  .selected-filter__input {
    width: 100%;
    max-width: 302px;
  }
  .body-container-wherenext-container {
    flex-wrap: wrap;
    margin-top: 0;
  }

  .body-container-wherenext-container-item {
    width: 100%;
    max-width: 100%;
    margin-bottom: 90px;
  }

  .body-container-secret-head p {
    font-size: 32px;
  }

  .body-container-secret-author div {
    font-size: 42px;
  }

  .body-container-secret-author p {
    font-size: 14px;
  }

  .title-inner {
    font-size: 32px;
  }

  .body-container-secret-descr p {
    font-size: 16px;
  }

  .body-container-video-item {
    height: 300px;
  }

  .subtitle {
    margin-bottom: 20px;
    font-size: 16px;
  }

  .footer-container-main {
    flex-direction: column;
    align-items: center;
  }

  .footer {
    padding: 40px 30px;
    top: 0;
  }

  .footer-container-item.logo {
    justify-content: center;
    width: 100%;
    max-width: 100%;
    display: flex;
  }

  .footer-container-item.brands {
    width: 100%;
    max-width: 100%;
    margin-top: 40px;
  }

  .footer-container-item.menu {
    width: 100%;
    max-width: 100%;
    justify-content: space-between;
    margin-top: 50px;
  }

  .footer-container-item.menu a {
    padding: 0;
    font-size: 22px;
  }

  .footer-container-brands-ul a {
    font-size: 14px;
  }

  /* .footer-item-first {
    padding: 20px 20px 20px 0 !important;
  }

  .footer-item-last {
    padding: 20px 0 20px 20px !important;
  } */

  .footer-container-many {
    flex-direction: column;
    justify-content: center;
    justify-content: center;
    align-items: center;
  }

  .footer-container-many-item.left {
    text-align: center;
  }

  .footer-container-many-item.right {
    margin-top: 10px;
    text-align: center;
  }

}
