:root {
  --color-font-nav-bar: #ffffff;
  --color-footer: #d13f43;
}

@font-face {
  font-family: "ProximaNovaBold";

  src: url("/fonts/ProximaNova-Bold.ttf");

  font-weight: bold;

  font-style: bold;
}

@font-face {
  font-family: "ProximaNova";

  src: url("/fonts/ProximaNova-Regular.ttf");

  font-weight: normal;

  font-style: normal;
}

@font-face {
  font-family: "GothamPro";

  src: url("/fonts/Gotham_Pro.ttf");

  font-weight: normal;

  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--color-font-nav-bar);
  font-size: 22px;
}

@media (max-width: 1335) {
  a {
    font-size: 18px;
  }
}

.legacy-main-container {
  width: 100%;
  height: 980px;
  background-image: url(/image/grame/legacy/legacy.jpg);
}

.modern-main-container {
  width: 100%;
  height: 980px;
  background-image: url(/image/grame/modern/modern.jpg);
}

.clever-main-container {
  width: 100%;
  height: 980px;
  background-image: url(/image/grame/clever/clever.jpg);
}

.famous-main-container {
  width: 100%;
  height: 980px;
  background-image: url(/image/grame/famous/famous.jpg);
}

.stage-design-main-container {
  width: 100%;
  height: 980px;
  background-image: url(/image/stageOfDesign.jpg);
}

.discovery-design-main-container {
  width: 100%;
  height: 980px;
  background-image: url(/image/discovery.jpg);
}

.first-main-container {
  width: 100%;
  height: 980px;
  background-image: url(/image/future.jpg);
}

.two-main-container {
  width: 100%;
  height: 980px;
  background-image: url(/image/background2.jpg);
}

.tree-main-container {
  width: 100%;
  height: 980px;
  background-image: url(/image/background3.jpg);
}

.four-main-container {
  width: 100%;
  height: 980px;
  background-image: url(/image/background1.jpg);
}

.five-main-container {
  width: 100%;
  height: 980px;
  background-image: url(/image/background5.jpg);
}

.six-main-container {
  width: 100%;
  height: 980px;
  background-image: url(/image/background1.jpg);
}

.seven-main-container {
  width: 100%;
  height: 980px;
  background-image: url(/image/background7.jpg);
}

.eight-main-container {
  width: 100%;
  height: 980px;
  background-image: url(/image/background1.jpg);
}

.nine-main-container {
  width: 100%;
  height: 980px;
  background-image: url(/image/background9.jpg);
}

.ten-main-container {
  width: 100%;
  height: 980px;
  background-image: url(/image/background1.jpg);
}

.eleven-main-container {
  width: 100%;
  height: 980px;
  background-image: url(/image/background11.jpg);
}

.twelve-main-container {
  width: 100%;
  height: 980px;
  background-image: url(/image/background12.jpg);
}

.thirteen-main-container {
  width: 100%;
  height: 980px;
  background-image: url(/image/background13.jpg);
}

.fourteen-main-container {
  width: 100%;
  height: 980px;
  background-image: url(/image/background14.jpg);
}

.fifteen-main-container {
  width: 100%;
  height: 980px;
  background-image: url(/image/background15.jpg);
}

.sixteen-main-container {
  width: 100%;
  height: 980px;
  background-image: url(/image/background16.jpg);
}

.seventeen-main-container {
  width: 100%;
  height: 980px;
  background-image: url(/image/background17.jpg);
}

.goretti-main-container {
  width: 100%;
  height: 980px;
  background-image: url(/image/backgroundGorreti.jpg);
}

.members-main-container {
  width: 100%;
  height: 980px;
  background-image: url(/image/backgroundMembers.jpg);
}

.annual-main-container {
  width: 100%;
  height: 980px;
  background-image: url(/image/backgroundAnnuals.jpg);
}

.rastelli-main-container {
  width: 100%;
  height: 980px;
  background-image: url(/image/background1.jpg);
}

.yaben-main-container {
  width: 100%;
  height: 980px;
  background-image: url(/image/background1.jpg);
}

.nav-container {
  display: flex;
  position: fixed;
  flex-direction: row;
  align-items: center;

  width: 100%;
  margin-top: 40px;
  text-transform: uppercase;
}

.nav-logo-container {
  cursor: pointer;
  margin-left: 10%;
}

.nav-link-container {
  display: flex;
  margin-left: auto;
  margin-right: 10%;

  flex-flow: row;
  flex-wrap: nowrap;
}

.nav-link-container a {
  font-family: "ProximaNovaBold", bold;
  color: #ffffff;
  white-space: nowrap;
  cursor: pointer;
  padding: 16px;
  text-align: center;
}

.nav-link-container a:hover {
  color: #bb4242;
  transition: color 0.5s;
}

/* FIRST CONTAINER */
.first-container-left-menu {
  width: 75px;
  height: 630px;
  background: #bb4242;
  position: absolute;
  display: flex;

  margin-top: 180px;
}

.first-container-left-menu a {
  font-family: "ProximaNovaBold", bold;
  color: var(--color-font-nav-bar);
  font-size: 18px;
  text-transform: uppercase;
}

.first-link-container {
  font-family: "ProximaNovaBold", bold;
  text-transform: uppercase;

  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.link-content {
  font-size: 21px;
  color: var(--color-font-nav-bar);
  width: 75px;
  height: 136px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.link-content span {
  cursor: pointer;
  color: #ffffff;
  transform: rotate(-90deg);
  width: fit-content;
  height: fit-content;
}

.link-content span:hover {
  color: #333333;
  transition: color 0.5s;
}

.link-content.betsy {
  height: 80px;
}

/* TWO CONTAINER */
.two-main-video-content {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.two-main-video-container {
  width: 70%;
  height: 70%;
  padding: 10px;

  margin: auto;
  margin-top: 150px;
}

.two-main-video {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

/* THREE CONTAINER */
.tree-main-content {
  width: 100%;
  margin: auto;
  justify-content: center;
  align-items: center;
  height: 100%;
  display: flex;
}

.tree-main-bio {
  width: 35%;
  margin-left: 15%;
  margin-right: 5%;
  color: var(--color-font-nav-bar);
}

.tree-main-bio h2 {
  font-family: "ProximaNovaBold", bold;
  font-size: 28px;
}

.tree-main-bio p {
  font-family: "ProximaNova", normal;
  font-size: 16px;

  margin-top: 15px;
  margin-bottom: 40px;
}

/* FOUR CONTAINER */
.four-main-content {
  width: 100%;
  margin: auto;
  justify-content: center;
  align-items: center;
  height: 100%;
  display: flex;
}

.four-main-bio {
  width: 25%;
  margin-left: 10%;
  margin-right: 10%;
  color: var(--color-font-nav-bar);
}

.four-main-bio h2 {
  font-family: "ProximaNovaBold", bold;
  font-size: 28px;
}

.four-main-bio p {
  font-family: "ProximaNova", normal;
  font-size: 16px;

  margin-top: 15px;
  margin-bottom: 40px;
}

/* FIVE CONTAINER */
.five-main-content {
  width: 100%;
  margin: auto;
  justify-content: center;
  align-items: center;
  height: 100%;
  display: flex;
}

.five-main-bio {
  width: 35%;
  margin-left: 15%;
  margin-right: 5%;
  color: var(--color-font-nav-bar);
}

.five-main-bio h2 {
  font-family: "ProximaNovaBold", bold;
  font-size: 28px;
}

.five-main-bio p {
  font-family: "ProximaNova", normal;
  font-size: 16px;

  margin-top: 15px;
  margin-bottom: 40px;
}

/* SIX CONTAINER */
.six-main-content {
  width: 100%;
  margin: auto;
  justify-content: center;
  align-items: center;
  height: 100%;
  display: flex;
}

.six-main-bio {
  width: 38%;
  margin-left: 5%;
  margin-right: 10%;
  color: var(--color-font-nav-bar);
}

.six-main-bio h2 {
  font-family: "ProximaNovaBold", bold;
  font-size: 28px;
}

.six-main-bio p {
  font-family: "ProximaNova", normal;
  font-size: 16px;

  margin-top: 15px;
  margin-bottom: 40px;
}

/* SEVEN CONTAINER */
.seven-main-content {
  width: 100%;
  margin: auto;
  justify-content: center;
  align-items: center;
  height: 100%;
  display: flex;
}

.seven-main-bio {
  width: 35%;
  margin-left: 15%;
  margin-right: 5%;
  color: var(--color-font-nav-bar);
}

.seven-main-bio h2 {
  font-family: "ProximaNovaBold", bold;
  font-size: 28px;
}

.seven-main-bio p {
  font-family: "ProximaNova", normal;
  font-size: 16px;

  margin-top: 15px;
  margin-bottom: 40px;
}

/* EIGHT CONTAINER */
.eight-main-content {
  width: 100%;
  margin: auto;
  justify-content: center;
  align-items: center;
  height: 100%;
  display: flex;
}

.eight-main-bio {
  width: 30%;
  margin-left: 8%;
  margin-right: 10%;
  color: var(--color-font-nav-bar);
}

.eight-main-bio h2 {
  font-family: "ProximaNovaBold", bold;
  font-size: 28px;
}

.eight-main-bio p {
  font-family: "ProximaNova", normal;
  font-size: 16px;

  margin-top: 15px;
  margin-bottom: 40px;
}

/* NINE CONTAINER */
.nine-main-content {
  width: 100%;
  margin: auto;
  justify-content: center;
  align-items: center;
  height: 100%;
  display: flex;
}

.nine-main-bio {
  width: 35%;
  margin-left: 15%;
  margin-right: 5%;
  color: var(--color-font-nav-bar);
}

.nine-main-bio h2 {
  font-family: "ProximaNovaBold", bold;
  font-size: 28px;
}

.nine-main-bio p {
  font-family: "ProximaNova", normal;
  font-size: 16px;

  margin-top: 15px;
  margin-bottom: 40px;
}

/* TEN CONTAINER */
.ten-main-content {
  width: 100%;
  margin: auto;
  justify-content: center;
  align-items: center;
  height: 100%;
  display: flex;
}

.ten-main-bio {
  width: 30%;
  margin-left: 8%;
  margin-right: 10%;
  color: var(--color-font-nav-bar);
}

.ten-main-bio h2 {
  font-family: "ProximaNovaBold", bold;
  font-size: 28px;
}

.ten-main-bio p {
  font-family: "ProximaNova", normal;
  font-size: 16px;

  margin-top: 15px;
  margin-bottom: 40px;
}

/* TWELWE */
.twelve-main-content {
  width: 100%;
  margin: auto;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  display: flex;
}

.twelve-main-bio {
  width: 30%;
  margin-left: 8%;
  color: var(--color-font-nav-bar);
}

.twelve-main-bio-head p {
  font-family: "GothamPro";
  font-size: 120px;
  line-height: 0.9;
  text-transform: uppercase;
  color: #b3202d;
}

.twelve-main-bio-head span {
  font-family: "GothamPro";
  text-transform: uppercase;

  color: #ebebeb;
  font-size: 60px;
}

.twelve-main-bio-body {
  margin-top: 15px;
}

.twelve-main-bio-body-descr {
  margin-bottom: 10px;
}

.twelve-main-bio-body p {
  font-family: "ProximaNova", normal;
  font-size: 16px;
}

/* ELEVEN CONTAINER */
.eleven-main-new-container {
  font-family: "ProximaNovaBold", bold;
  color: var(--color-font-nav-bar);
  font-size: 37px;
}

.eleven-main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.eleven-main-img {
  margin: 15px;
}

/* FOOTER */
.footer {
  width: 100%;
  height: 245px;
  background-color: var(--color-footer);
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-content {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.footer-logo {
  width: 85px;
  height: 45px;
  margin-bottom: 35px;
}

.footer-checkbox {
  margin-left: 5px;
  color: #363636;
}

.footer-input {
  display: flex;
}

.footer-input-email {
}

.footer-checkbox-input {
  margin-top: 15px;
  margin-right: 10px;
}

.footer-button-subscribe {
  text-transform: uppercase;
  font-family: "ProximaNovaBold", bold;
  border: 0px;
  margin-left: 25px;
  background-color: #202020;
  font-size: 15px;
  color: var(--color-font-nav-bar);
  width: 155px;
  height: 45px;
}

.group {
  position: relative;
}

.footer-input-email {
  background: transparent;
  font-size: 16px;
  padding: 10px;
  display: block;
  width: 300px;
  border: none;
  border-bottom: 1px solid #040707;
}
.footer-input-email:focus {
  outline: none;
}

.footer-input-email-label {
  font-family: "ProximaNovaBold", bold;

  color: #363636;
  font-size: 18px;
  position: absolute;
  pointer-events: none;
  left: 10px;
  top: 15px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

/* active state */
.footer-input-email:focus ~ .footer-input-email-label,
.footer-input-email:valid ~ .footer-input-email-label {
  top: -15px;
  font-size: 14px;
  color: #040707;
}

/* BOTTOM BARS ================================= */
.footer-input-email-bar {
  position: relative;
  display: block;
  width: 320px;
}
.footer-input-email-bar:before,
.footer-input-email-bar:after {
  content: "";
  height: 2px;
  width: 0;
  bottom: 0;
  position: absolute;
  background: #040707;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.footer-input-email-bar:before {
  left: 50%;
}
.footer-input-email-bar:after {
  right: 50%;
}

/* active state */
.footer-input-email:focus ~ .footer-input-email-bar:before,
.footer-input-email:focus ~ .footer-input-email-bar:after {
  width: 50%;
}

/* THIRTTEEN */
.thirteen-main-content {
  width: 100%;
  margin: auto;
  justify-content: center;
  align-items: center;
  height: 100%;
  display: flex;
}

.thirteen-main-bio {
  width: 380px;
  margin-left: 15%;
  margin-right: 5%;
  color: var(--color-font-nav-bar);
}

.thirteen-main-bio-1-red {
  margin-bottom: 20px;
}

.thirteen-main-bio p {
  font-family: "GothamPro";
  font-size: 120px;
  line-height: 0.9;

  color: #b3202d;
}

.thirteen-main-bio span {
  font-family: "ProximaNova", normal;
  font-size: 16px;
  margin-bottom: 40px;
}

/* FIFTETN */
.fifteen-main-content {
  width: 100%;
  margin: auto;
  justify-content: center;
  align-items: center;
  height: 100%;
  display: flex;
}

.fifteen-main-bio {
  width: 30%;
  text-align: end;

  margin-left: 8%;
  margin-right: 10%;
  color: var(--color-font-nav-bar);
}

.fifteen-main-bio-1-red {
  margin-bottom: 15px;
  text-transform: uppercase;
}

.fifteen-main-bio-1-red p {
  font-family: "GothamPro";

  color: #ebebeb;
  font-size: 60px;
}

.fifteen-main-bio-descr {
  font-family: "ProximaNova", normal;
  font-size: 16px;
}

.fifteen-main-bio-1-red span {
  font-family: "GothamPro";

  line-height: 0.9;

  color: #b3202d;
  font-size: 120px;
}

.fifteen-main-bio-descr {
  margin-bottom: 15px;
}

/* GORETTI */
/* NINE CONTAINER */
.goretti-main-content {
  width: 100%;
  margin: auto;
  justify-content: center;
  align-items: center;
  height: 100%;
  display: flex;
}

.goretti-main-bio {
  width: 35%;
  margin-left: 15%;
  margin-right: 5%;
  color: var(--color-font-nav-bar);
}

.goretti-main-bio h2 {
  font-family: "ProximaNovaBold", bold;
  font-size: 28px;
}

.goretti-main-bio p {
  font-family: "ProximaNova", normal;
  font-size: 16px;

  margin-top: 15px;
  margin-bottom: 40px;
}

/* SEVENTEEN */
.seventeen-main-content {
  width: 100%;
  margin: auto;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  display: flex;
}

.seventeen-main-bio {
  width: fit-content;
  margin-right: 8%;
  color: var(--color-font-nav-bar);
}

.seventeen-main-bio-head p {
  font-family: "GothamPro";
  font-size: 120px;
  line-height: 0.9;
  text-transform: uppercase;
  color: #b3202d;
}

.seventeen-main-bio-head span {
  font-family: "GothamPro";
  text-transform: uppercase;

  color: #ebebeb;
  font-size: 60px;
}

.seventeen-main-bio-body {
  text-transform: uppercase;
  text-align: end;
}

.seventeen-main-bio-body p {
  font-family: "ProximaNovaBold", bold;
  font-size: 47px;
}

/* MEMBERS */
.members-main-content {
  width: 100%;
  margin: auto;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  display: flex;
}

.members-main-bio {
  width: 28%;
  margin-left: 8%;
  color: var(--color-font-nav-bar);
}

.members-main-bio-head p {
  font-family: "GothamPro";
  font-size: 120px;
  line-height: 0.9;
  text-transform: uppercase;
  color: #b3202d;
}

.members-main-bio-head span {
  font-family: "GothamPro";
  text-transform: uppercase;

  color: #ebebeb;
  font-size: 60px;
}

.members-main-bio-body {
  margin-top: 15px;
}

.members-main-bio-body p {
}

.members-main-bio-body-descr {
  font-family: "ProximaNova", normal;
  font-size: 16px;
  margin-bottom: 10px;
}

/* ANNUAL */
.annual-main-content {
  width: 100%;
  margin: auto;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  display: flex;
}

.annual-main-bio {
  width: 40%;
  margin-left: 8%;
  color: var(--color-font-nav-bar);
}

.annual-main-bio-head p {
  font-family: "GothamPro";
  font-size: 120px;
  line-height: 0.9;
  text-transform: uppercase;
  color: #b3202d;
}

.annual-main-bio-head-body p {
  font-family: "GothamPro";
  text-transform: uppercase;

  color: #ebebeb;
  font-size: 60px;
}

.annual-main-bio-head span {
  font-family: "GothamPro";
  text-transform: uppercase;

  color: #ebebeb;
  font-size: 60px;
}

.annual-main-bio-body {
  margin-top: 15px;
}

.annual-main-bio-body-descr {
  width: 50%;
  font-family: "ProximaNova", normal;
  font-size: 16px;
  margin-bottom: 10px;
}

/* LEGACY */
.legacy-content {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: flex-end;
  align-items: flex-end;
}

.legacy-container-lm {
  cursor: pointer;
  margin-right: 50px;
  margin-bottom: 50px;
}

/* MODERN */
.modern-content {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: flex-end;
  align-items: flex-end;
}

.modern-container-lm {
  cursor: pointer;
  margin-right: 50px;
  margin-bottom: 50px;
}

/* CLEVER */
.clever-content {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: flex-end;
  align-items: flex-end;
}

.clever-container-lm {
  cursor: pointer;
  margin-right: 50px;
  margin-bottom: 50px;
}

/* FAMOUS */
.famous-content {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: flex-end;
  align-items: flex-end;
}

.famous-container-lm {
  cursor: pointer;
  margin-right: 50px;
  margin-bottom: 50px;
}

/* STAGE OF DESIGNE */
.stage-design-main-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stage-design-main-content-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.stage-design-main-content-center-left {
  width: fit-content;
  margin-right: 120px;
}

.stage-design-main-content-right {
  width: 30%;
}

.stage-design-main-content-right p {
  font-family: "ProximaNova", normal;
  font-size: 16px;
  color: #ffffff;

  margin-top: 15px;
  margin-bottom: 15px;
}

.stage-design-main-content-center-left p {
  font-family: "GothamPro";
  text-transform: uppercase;
  font-size: 120px;
  line-height: 0.9;

  color: #b3202d;
}
.stage-design-main-content-center-left span {
  font-family: "GothamPro";
  text-transform: uppercase;

  color: #ebebeb;
  font-size: 60px;
}

.stage-design-main-content-end {
  height: 30%;
  position: absolute;
  display: flex;
  align-self: flex-end;
  width: fit-content;

  margin-left: 415px;
}

/* DISCOVERY */
.discovery-design-main-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.discovery-design-main-content-center {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.discovery-design-main-content-left {
  width: 30%;
}

.discovery-design-main-content-center-right {
  display: flex;
  width: min-content;
  margin-left: 120px;
  align-items: flex-end;
  flex-direction: column;
}

.discovery-design-main-content-center-red-p {
  font-family: "GothamPro";
  text-transform: uppercase;
  font-size: 120px;
  line-height: 0.9;

  color: #b3202d;
}
.discovery-design-main-content-center-red-span {
  font-family: "GothamPro";
  text-transform: uppercase;

  color: #ebebeb;
  font-size: 60px;
}

.discovery-design-main-content-left span {
  font-family: "ProximaNovaBold", bold;
  font-size: 28px;
  color: #ffffff;
}

.discovery-design-main-content-left p {
  font-family: "ProximaNova", normal;
  font-size: 16px;
  color: #ffffff;

  margin-top: 15px;
  margin-bottom: 35px;
}

.discovery-design-main-content-center-right-head {
  text-align: end;
}

.discovery-design-main-content-end {
  height: 30%;
  position: absolute;
  display: flex;
  align-self: flex-end;
  width: fit-content;

  margin-left: 415px;
}

.discovery-design-main-content-center-right-text {
  text-align: end;
  width: 88%;
}

.discovery-design-main-content-center-right-text p {
  font-family: "ProximaNova", normal;
  font-size: 16px;
  color: #ffffff;

  margin-top: 35px;
}

/* RASTELLI CONTAINER */
.rastelli-main-content {
  width: 100%;
  margin: auto;
  justify-content: center;
  align-items: center;
  height: 100%;
  display: flex;
}

.rastelli-main-bio {
  width: 30%;
  margin-left: 8%;
  margin-right: 10%;
  color: var(--color-font-nav-bar);
}

.rastelli-main-bio h2 {
  font-family: "ProximaNovaBold", bold;
  font-size: 28px;
}

.rastelli-main-bio p {
  font-family: "ProximaNova", normal;
  font-size: 16px;

  margin-top: 15px;
  margin-bottom: 40px;
}

/* YABEN CONTAINER */
.yaben-main-content {
  width: 100%;
  margin: auto;
  justify-content: center;
  align-items: center;
  height: 100%;
  display: flex;
}

.yaben-main-bio {
  width: 30%;
  margin-left: 8%;
  margin-right: 10%;
  color: var(--color-font-nav-bar);
}

.yaben-main-bio h2 {
  font-family: "ProximaNovaBold", bold;
  font-size: 28px;
}

.yaben-main-bio p {
  font-family: "ProximaNova", normal;
  font-size: 16px;

  margin-top: 15px;
  margin-bottom: 40px;
}

/* FOURTEEN */
.fourteen-main-content {
  width: 100%;
  flex-direction: column;
  margin: auto;
  justify-content: center;
  align-items: flex-end;
  text-align: end;
  height: 100%;
  display: flex;
}

.fourteen-main-content-head {
  text-transform: uppercase;
}

.fourteen-main-content-white {
  font-family: "ProximaNovaBold", bold;
  line-height: 0.9;

  font-size: 60px;
  color: #ffffff;
}

.fourteen-main-content-white span {
  font-family: "ProximaNovaBold", bold;

  font-size: 120px;
  color: #b3202d;
}

.fourteen-main-content-ban{
  width: 20%;
  margin-right: 20px;
}

.fourteen-main-content-head p {
  font-family: "ProximaNovaBold", bold;
  line-height: 0.9;

  font-size: 60px;
  color: #ffffff;
}

.fourteen-main-content-body p {
  font-family: "ProximaNova", normal;
  font-size: 16px;

  margin-top: 20px;
  color: #ffffff;

}
