@font-face {
  font-family: "ProximaNovaBold";

  src: url("/fonts/ProximaNova-Bold.ttf");

  font-weight: bold;

  font-style: bold;
}

@font-face {
  font-family: "ProximaNova";

  src: url("/fonts/ProximaNova-Bold.ttf");

  font-weight: bold;

  font-style: bold;
}

@font-face {
  font-family: "ProximaNova";

  src: url("/fonts/ProximaNova-Regular.ttf");

  font-weight: normal;

  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--color-font-nav-bar);
  font-size: 22px;
}

.first-main-container {
  width: 100%;
  height: 980px;
  background-image: url(../image/background1.png);
}

.two-main-container {
  width: 100%;
  height: 980px;
  background-image: url(../image/background2.png);
}

.three-main-container {
  width: 100%;
  height: 980px;
  background-image: url(../image/background3.png);
}

.four-main-container {
  width: 100%;
  height: 980px;
  background-image: url(../image/background4.png);
}

.nav-container {
  display: flex;
  position: fixed;
  flex-direction: row;
  align-items: center;

  width: 100%;
  margin-top: 40px;
  text-transform: uppercase;
}

.nav-logo-container {
  cursor: pointer;
  margin-left: 10%;
}

.nav-link-container {
  display: flex;
  margin-left: auto;
  margin-right: 10%;

  flex-flow: row;
  flex-wrap: nowrap;
}

.nav-link-container a {
  font-family: "ProximaNovaBold", bold;
  color: #ffffff;
  white-space: nowrap;
  cursor: pointer;
  padding: 16px;
  text-align: center;
}

.nav-link-container a:hover {
  color: #333333;
  transition: color 0.5s;
}

/* FIRST CONTAINER */
.first-container-left-menu {
  width: 75px;
  height: 630px;
  background: #e4b2d3;
  position: absolute;
  display: flex;

  margin-top: 180px;
}

.first-container-left-menu a {
  font-family: "ProximaNovaBold", bold;
  color: var(--color-font-nav-bar);
  font-size: 18px;
  text-transform: uppercase;
}

.first-link-container {
  font-family: "ProximaNovaBold", bold;
  text-transform: uppercase;

  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.link-content {
  font-size: 21px;
  color: var(--color-font-nav-bar);
  width: 75px;
  height: 136px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.link-content span {
  cursor: pointer;
  color: #ffffff;
  transform: rotate(-90deg);
  width: fit-content;
  height: fit-content;
}

.link-content span:hover {
  color: #4e4e4e;
  transition: color 0.5s;
}

.link-content.betsy {
  height: 80px;
}

.test-betsy {
  color: #333333;
}
