* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: "DinProBold";
  src: url("/assets/fonts/DINPro-Bold.otf");
  font-weight: bold;
  font-style: bold;
}

@font-face {
  font-family: "DinProBlack";
  src: url("/assets/fonts/DINPro-Black.ttf");
  font-weight: bold;
  font-style: bold;
}

@font-face {
  font-family: "MyriadPro";
  src: url("/assets/fonts/MyriadPro.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "AvenirReg";
  src: url("/assets/fonts/AvenirReg.ttf");
  font-weight: normal;
  font-style: normal;
}

.button {
  position: relative;
  display: inline-block;
  font-size: 0.9375rem;
  line-height: 1.5;
  font-family: din-condensed, sans-serif;
  letter-spacing: 0.95px;
  text-transform: uppercase;
  color: transparent;
  background-color: #000;
  padding: 19px 45px;
  border-radius: 0px;
  cursor: pointer;
  overflow: hidden;
  -webkit-transition: 0.2s all ease-in;
  -moz-transition: 0.2s all ease-in;
  -ms-transition: 0.2s all ease-in;
  -o-transition: 0.2s all ease-in;
  transition: 0.2s all ease-in;
}

.button > div {
  overflow: hidden;
  position: relative;
}

.button > div:before {
  content: attr(button-text);
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  color: #fff;
  z-index: -1;
  padding: 19px 45px;
}

.button > div > span {
  display: block;
  color: #fff;
  -webkit-transition: 0.7s cubic-bezier(0.485, 0.135, 0, 0.995);
  -o-transition: 0.7s cubic-bezier(0.485, 0.135, 0, 0.995);
  transition: 0.7s cubic-bezier(0.485, 0.135, 0, 0.995);
}

.button > div > span.hidden {
  -webkit-transform: translateY(-18%);
  -ms-transform: translateY(-18%);
  transform: translateY(-18%);
  position: absolute;
}

.button > div:before {
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
  -webkit-transition: 0.7s cubic-bezier(0.485, 0.135, 0, 0.995);
  -o-transition: 0.7s cubic-bezier(0.485, 0.135, 0, 0.995);
  transition: 0.7s cubic-bezier(0.485, 0.135, 0, 0.995);
}

.button:before {
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
  -webkit-transition: 0.2s all ease-in;
  -moz-transition: 0.2s all ease-in;
  -ms-transition: 0.2s all ease-in;
  -o-transition: 0.2s all ease-in;
  transition: 0.2s all ease-in;
}

.button:after {
  -webkit-transition: 0.2s all ease-in;
  -moz-transition: 0.2s all ease-in;
  -ms-transition: 0.2s all ease-in;
  -o-transition: 0.2s all ease-in;
  transition: 0.2s all ease-in;
}

.button:hover span {
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: 0.7s cubic-bezier(0.485, 0.135, 0, 0.995);
  -o-transition: 0.7s cubic-bezier(0.485, 0.135, 0, 0.995);
  transition: 0.7s cubic-bezier(0.485, 0.135, 0, 0.995);
}

.button:hover span.hidden {
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: 0.7s cubic-bezier(0.485, 0.135, 0, 0.995);
  -o-transition: 0.7s cubic-bezier(0.485, 0.135, 0, 0.995);
  transition: 0.7s cubic-bezier(0.485, 0.135, 0, 0.995);
  -webkit-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.button--full-width {
  display: block;
  text-align: center;
  margin-right: 0;
}

.button--is-active {
  pointer-events: none;
  color: white;
}

.button--white {
  color: black;
  background-color: white;
}

.button--white > div span {
  color: #000;
}

.button--ghost {
  border: solid 1px #fff;
  background-color: transparent;
  color: transparent;
}

.button--ghost--black {
  border: solid 1px #000;
  color: transparent;
  background-color: #fff;
}

.button--ghost--black > div > span {
  color: #000;
}

.button--ghost--black:after,
.button--ghost--black:before,
.button--ghost--black span {
  color: #000;
}

.button:focus,
.button:hover {
  text-decoration: none;
}

.off-screen {
  opacity: 1;
}
.off-screen.off-screen--fade,
.off-screen.off-screen--from-left,
.off-screen.off-screen--from-right {
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
.off-screen--fade-up {
  -ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
.off-screen--fade-up.off-screen--hide,
.off-screen--fade-up.off-screen--static {
  -ms-transform: translateY(30px);
  -webkit-transform: translateY(30px);
  transform: translateY(30px);
  opacity: 0;
}
.off-screen--from-left {
  -ms-transform: translateX(0);
  -webkit-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
.off-screen--from-left.off-screen--hide {
  -ms-transform: translateX(70px);
  -webkit-transform: translateX(70px);
  transform: translateX(70px);
  opacity: 0;
}
.off-screen--hide.off-screen--from-left {
  -ms-transform: translateX(-150px);
  -webkit-transform: translateX(-150px);
  transform: translateX(-150px);
  opacity: 0;
}
.off-screen--hide.off-screen--from-right {
  -ms-transform: translateX(150px);
  -webkit-transform: translateX(150px);
  transform: translateX(150px);
  opacity: 0;
}
.off-screen--hide.off-screen--from-bottom {
  -ms-transform: translateY(150px);
  -webkit-transform: translateY(150px);
  transform: translateY(150px);
  opacity: 0;
}
.off-screen--hide.off-screen--fade {
  opacity: 0;
}

.off-screen--alternate > div > div {
  -ms-transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  opacity: 1;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
.off-screen--alternate > div.off-screen--hide:nth-child(2n) div:first-child {
  -ms-transform: translateX(150px);
  -webkit-transform: translateX(150px);
  transform: translateX(150px);
  opacity: 0;
}
.off-screen--alternate > div.off-screen--hide:nth-child(2n) div:nth-child(2) {
  -ms-transform: translateX(-150px);
  -webkit-transform: translateX(-150px);
  transform: translateX(-150px);
  opacity: 0;
}
.off-screen--alternate > div.off-screen--hide:nth-child(odd) div:first-child {
  -ms-transform: translateX(-150px);
  -webkit-transform: translateX(-150px);
  transform: translateX(-150px);
  opacity: 0;
}
.off-screen--alternate > div.off-screen--hide:nth-child(odd) div:nth-child(2) {
  -ms-transform: translateX(150px);
  -webkit-transform: translateX(150px);
  transform: translateX(150px);
  opacity: 0;
}
.off-screen--sequential > * {
  -ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.off-screen--sequential.off-screen--hide > * {
  -ms-transform: translateY(30px);
  -webkit-transform: translateY(30px);
  transform: translateY(30px);
  opacity: 0;
}
.off-screen--sequential > :first-child {
  -webkit-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
}
.off-screen--sequential > :nth-child(2) {
  -webkit-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
.off-screen--sequential > :nth-child(3) {
  -webkit-transition-delay: 0.4s;
  -o-transition-delay: 0.4s;
  transition-delay: 0.4s;
}
.off-screen--sequential > :nth-child(4) {
  -webkit-transition-delay: 0.6s;
  -o-transition-delay: 0.6s;
  transition-delay: 0.6s;
}
.off-screen--sequential > :nth-child(5) {
  -webkit-transition-delay: 0.8s;
  -o-transition-delay: 0.8s;
  transition-delay: 0.8s;
}
.off-screen--sequential > :nth-child(6) {
  -webkit-transition-delay: 1s;
  -o-transition-delay: 1s;
  transition-delay: 1s;
}
.off-screen--sequential > :nth-child(7) {
  -webkit-transition-delay: 1.2s;
  -o-transition-delay: 1.2s;
  transition-delay: 1.2s;
}
.off-screen--sequential > :nth-child(8) {
  -webkit-transition-delay: 1.4s;
  -o-transition-delay: 1.4s;
  transition-delay: 1.4s;
}
.off-screen--sequential > :nth-child(9) {
  -webkit-transition-delay: 1.6s;
  -o-transition-delay: 1.6s;
  transition-delay: 1.6s;
}
.off-screen--sequential > :nth-child(10) {
  -webkit-transition-delay: 1.8s;
  -o-transition-delay: 1.8s;
  transition-delay: 1.8s;
}
.off-screen--sequential > :nth-child(11) {
  -webkit-transition-delay: 2s;
  -o-transition-delay: 2s;
  transition-delay: 2s;
}
.off-screen--sequential > :nth-child(12) {
  -webkit-transition-delay: 2.2s;
  -o-transition-delay: 2.2s;
  transition-delay: 2.2s;
}
.off-screen--sequential > :nth-child(13) {
  -webkit-transition-delay: 2.4s;
  -o-transition-delay: 2.4s;
  transition-delay: 2.4s;
}
.off-screen--sequential > :nth-child(14) {
  -webkit-transition-delay: 2.6s;
  -o-transition-delay: 2.6s;
  transition-delay: 2.6s;
}
.off-screen--sequential > :nth-child(15) {
  -webkit-transition-delay: 2.8s;
  -o-transition-delay: 2.8s;
  transition-delay: 2.8s;
}
.off-screen--pop-up {
  overflow: hidden;
}
.off-screen--pop-up > * {
  -webkit-transition: 0.7s cubic-bezier(0.485, 0.135, 0, 0.995);
  -o-transition: 0.7s cubic-bezier(0.485, 0.135, 0, 0.995);
  transition: 0.7s cubic-bezier(0.485, 0.135, 0, 0.995);
  -webkit-transform: translate(0);
  -ms-transform: translate(0);
  transform: translate(0);
}
.off-screen--pop-up.off-screen--static--home > *,
.off-screen--pop-up.off-screen--static > * {
  -webkit-transform: translateY(110%);
  -ms-transform: translateY(110%);
  transform: translateY(110%);
  -webkit-transition: 0.7s cubic-bezier(0.485, 0.135, 0, 0.995);
  -o-transition: 0.7s cubic-bezier(0.485, 0.135, 0, 0.995);
  transition: 0.7s cubic-bezier(0.485, 0.135, 0, 0.995);
}

.slide-up div {
  overflow: visible;
}
.slide-up > div {
  overflow: hidden;
}
.slide-up > div > span {
  display: block;
  -webkit-transform: translateY(115%);
  -ms-transform: translateY(115%);
  transform: translateY(115%);
  -webkit-transition: 0.7s cubic-bezier(0.485, 0.135, 0, 0.995);
  -o-transition: 0.7s cubic-bezier(0.485, 0.135, 0, 0.995);
  transition: 0.7s cubic-bezier(0.485, 0.135, 0, 0.995);
}
.slide-up > div:last-of-type span {
  -webkit-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
.slide-up--loaded div span {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: 0.7s cubic-bezier(0.485, 0.135, 0, 0.995);
  -o-transition: 0.7s cubic-bezier(0.485, 0.135, 0, 0.995);
  transition: 0.7s cubic-bezier(0.485, 0.135, 0, 0.995);
}
.slide-up--loaded div:last-of-type span {
  -webkit-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
.slide-up--loaded.button-container div span {
  -webkit-transition: 0.6s ease-out;
  -o-transition: 0.6s ease-out;
  transition: 0.6s ease-out;
}
.slide-up--up div span {
  -webkit-transform: translateY(-110%);
  -ms-transform: translateY(-110%);
  transform: translateY(-110%);
  -webkit-transition: 0.7s cubic-bezier(0.485, 0.135, 0, 0.995);
  -o-transition: 0.7s cubic-bezier(0.485, 0.135, 0, 0.995);
  transition: 0.7s cubic-bezier(0.485, 0.135, 0, 0.995);
}

.container {
  width: 100%;
  max-width: 1330px;
  margin: 0 auto;
  margin-top: 100px;
}

.line {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

/* 1990 */

p {
  font-family: "DinProBold";
  font-size: 74px;
  /* font-family: ""; */
  color: black;
}

.line__text {
  font-size: 130px;
  color: red;
}

.test {
  /* text-align: center; */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

/* Имена людей */

.names-of-people-text {
  font-family: "DinProBold";
  font-size: 48px;
  color: #000000;
  line-height: 0.92308; /* межстрочный интервал */
  letter-spacing: -2px;
  padding-bottom: 10px;
}

/* Основной текст */

.main__text {
  font-family: "AvenirReg";
  font-size: 18px;
  color: #858586;
  line-height: 28px;
}

/* 9 */
.text-red {
  font-family: "DinProBold";
  color: #b1212d;
  font-size: 130px;
  line-height: 0.92308; /* межстрочный интервал */
  letter-spacing: -5px;
}

.text-black {
  font-family: "DinProBold";
  color: #000;
  font-size: 74px;
  line-height: 0.92308; /* межстрочный интервал */
  letter-spacing: -2px;
}

h1 {
  font-family: "DinProBold";
  font-size: 240px;
  color: #f0f1f3;
  letter-spacing: -2px;
}

.line-fist-image-container {
  width: 40%;
}

.line-fist-text-container {
  width: 40%;
  top: 0px;
  bottom: 0px;
  margin: auto 0px;
  line-height: 28px;
}

.line-fist-text-container p {
  text-align: center;
}

.line-fist-image-after-container {
  width: 20%;
}

.line-fist-text1-container {
  width: 40%;
  top: 0px;
  bottom: 0px;
  margin: auto 0px;
}
.line-fist-text1-container span {
  display: flex;
  padding-right: 20%;
}

.line-fist-image1-container {
  width: 40%;
}

.line-fist-people-name-container {
  width: 20%;
  top: 0px;
  bottom: 0px;
  margin: auto 0px;
}

.line-lab-container .text-black {
  margin-bottom: 40px;
}

.logistics__container-image-block {
  position: relative;
  margin-top: -198px;
}
.logistics__container-text-block {
  top: 0;
  bottom: 0;
  margin: auto 0;
  margin-left: 36px;
}
.text-degree {
  font-size: 48px;
  position: absolute;
  /* margin-top: 5px; */
}
.designer__container-image-block {
  width: 36%;
}

.designer__container-text-block {
  width: 32%;
  top: 0;
  bottom: 0;
  margin: auto 0;
}

.designer__container-text-name-block {
  top: 0;
  bottom: 0;
  margin: auto 0;
}

.designer__container-text-block p {
  margin-bottom: 40px;
}

.collab-orators__container-text-block {
  width: 36%;
  top: 0;
  bottom: 0;
  margin: auto 0;
}

.collab-orators__container-text-name-block {
  top: 0;
  bottom: 0;
  margin: auto 0;
}

.intern-licences__container-text-block {
  width: 40%;
  padding-right: 41px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  text-align: right;
}

.intern-licences__container-image-block2 {
  width: 47%;
  margin-left: 10%;
}

.intern-licences__container-text-block2 {
  width: 43%;
  top: 0;
  bottom: 0;
  margin: auto 0;
}

/* BODY WHERE NEXT */
.body-container-wherenext {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding-top: 185px;
  padding-bottom: 185px;
  margin-top: 90px;
}

.body-container-wherenext h2 {
  font-family: "DinProBold";
  width: 100%;

  top: 0;
  position: absolute;
  text-align: center;
  color: #c6cad245;
  user-select: none;
  font-size: 240px;
  z-index: 1;
}

.body-container-wherenext-container {
  max-width: 1360px;
  width: 100%;

  display: flex;
  margin: 0 auto;
  margin-top: 40px;
}

.body-container-wherenext-container-item {
  position: relative;
  max-width: 33%;
  padding-right: 15px;
  padding-left: 15px;
}

.body-container-wherenext-container-item a {
  color: #13212e;
  text-decoration: none;
  background-color: transparent;
}

.teaser {
  text-align: center;
  border: 1px solid #000;
  padding: 50px 30px;
}

.teaser p {
  font-family: "AvenirReg";

  font-size: 18px;
  line-height: 1.58824;
  color: #858586;

  margin-top: 0;
  min-height: 130px;
}

.teaser-title {
  position: absolute;
  top: -17px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}

.teaser-title h3 {
  font-family: "DinProBold";
  background-color: #fff;
  margin-bottom: 0.5rem;
  content: "";

  position: relative;
  padding: 0 10px;
  display: inline-block;

  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;

  line-height: 1;
  letter-spacing: -0.3px;
}

.teaser-title-xs {
  position: relative;
  padding: 0 10px;
  display: inline-block;
  font-size: 2.5rem;
  line-height: 1;
  letter-spacing: -0.3px;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  color: #000;
}

.title__inner {
  font-family: "DinProBold";

  line-height: 1;
  letter-spacing: -0.3px;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  color: #000;
  text-align: center;
}

.teaser-button {
  font-family: "DinProBold";

  position: absolute;
  bottom: -31px;
  left: 50%;
  transform: translateX(-50%);
}

.teaser-button span {
  font-family: "DinProBold";
}

.teaser-button-ghost {
  min-width: 184.77px;
  border: solid 1px #000;
  color: transparent;
  background-color: #fff;
  position: relative;
  display: inline-block;
  line-height: 1.5;
  padding: 19px 45px;
  border-radius: 0px;
  cursor: pointer;
  overflow: hidden;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 0.95px;
  transition: 0.2s all ease-in;
  text-align: center;
}

/* ﻿NAV */

.nav-container {
  display: flex;
  /* position: fixed; */
  flex-direction: row;
  align-items: center;

  width: 100%;
  margin-top: 52px;
  text-transform: uppercase;
}

.menu-main-menu-container {
  margin-left: auto;
  margin-right: 3%;
}

.nav-logo-container {
  margin-left: 3%;
  cursor: pointer;
}

.nav-link-container {
  display: flex;
  margin-left: auto;
  margin-right: 3%;

  flex-flow: row;
  flex-wrap: nowrap;
}

.link {
  font-family: "DinProBold";
  white-space: nowrap;

  margin: 20px;
  padding: 3px;
    text-align: center;

  font-size: 18px;

  position: relative;
  color: #000;
	cursor: pointer;
	line-height: 1; /*задаём высоту строки*/
	text-decoration: none; /*убираем подчёркивание*/
}
.link:hover {
  text-decoration: none;
  color: black;
}

.link:after {
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    width: 0;/*задаём длинну линии до наведения курсора*/
    height: 2px; /*задаём ширину линии*/
    background-color: #000; /*задаём цвет линии*/
    content: "";
    transition: width 0.3s ease-out; /*задаём время анимации*/
  
}

.link:hover:after,
.link:focus:after {
	width: 100%; /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/
}
/* MOBILE */
@media (max-width: 999px) {
  .menu-main-menu-container {
    margin-right: 0;
  }

  .nav-link-container {
    flex-direction: column;
    margin-top: 90px;
    margin-left: 60px;
  }

  .nav-link-container a {
    width: fit-content;
    color: #fff;
  }
}

/* FOOTER */
.footer {
  padding: 80px 0;
  background-color: #000;
  color: #fff;
}

.footer-container-item.logo {
  flex: 0 0 20%;
  max-width: 20%;
}

.footer-container-main {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  max-width: 1360px;
  width: 100%;

  margin-top: 80px;
  margin: auto;
  margin-bottom: 80px;
}

.footer-container-item.menu {
  display: flex;
  justify-content: flex-end;
  flex: 0 0 40%;
  max-width: 40%;
}

/* @media (min-width: 992px) {
.footer-container-item.menu {
    margin-left: 8.33333%;
} */

.footer-container-item.menu a {
  font-family: "DinProBold";
  font-size: 26px;
  text-transform: uppercase;

  color: #ffffff;
  white-space: nowrap;
  cursor: pointer;
  padding: 20px;
  text-align: center;
}

.footer-container-item.brands {
  flex: 0 0 40%;
  max-width: 40%;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.footer-container-brands-head {
  font-family: "DinProBold";
  position: relative;
  font-size: 26px;
  text-transform: uppercase;

  color: #fff;
  line-height: 1;
  margin-bottom: 25px;
}

.footer-container-brands-head::before {
  content: "";
  right: 0;
  top: 50%;
  position: absolute;
  width: calc(100% - 100px);
  height: 1px;
  background-color: #fff;
}

.footer-container-brands-ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-container-brands-ul a {
  font-family: "AvenirReg";
  font-size: 16px;
  text-decoration: none;
  outline: none;

  color: #fff;
  list-style: none;
  text-indent: 0;
  margin-bottom: 4px;
  text-transform: uppercase;
}

.footer-container-many {
  display: flex;
  max-width: 1360px;
  width: 100%;
  margin: auto;
}

.footer-container-many-item {
  font-family: "AvenirReg";
  font-size: 14px;

  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

.footer-container-many-item.right {
  text-align: right;
}

/* MENU */
.menu__open__icon {
  height: 60px;
  width: 62px;
  position: fixed;
  right: 0;
  top: 50px;
  background-color: black;
  z-index: 9999;
}

@media (min-width: 999px) {
  .menu__open__icon {
    display: none;
  }
}

.hamburger__inner {
  position: absolute;
  top: 50%;
  left: 26px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 15px;
  height: 2px;
  background-color: white;
}

.hamburger__inner:before {
  content: "";
  position: absolute;
  top: -7px;
  left: 0px;
  width: 25px;
  height: 2px;
  background-color: white;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  -o-transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

.hamburger__inner:after {
  content: "";
  position: absolute;
  top: 7px;
  left: 0px;
  width: 20px;
  height: 2px;
  background-color: white;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  -o-transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

.hamburger__inner.open-menu {
  background-color: transparent;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.hamburger__inner.open-menu:after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 0px;
  width: 25px;
}

.hamburger__inner.open-menu:before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 0px;
}

.container__mobile {
  display: none;
}

/* mob */
@media (max-width: 999px) {
  .container__mobile {
    display: block;
  }
  .menu-main-menu-container {
    position: fixed;
    -webkit-transform: translate(50vw);
    -ms-transform: translate(50vw);
    transform: translate(50vw);
    top: 0;
    right: 0;
    width: 50vw;
    height: 100vh;
    background-color: #000;
    -webkit-transition: 0.7s cubic-bezier(0.485, 0.135, 0, 0.995);
    -o-transition: 0.7s cubic-bezier(0.485, 0.135, 0, 0.995);
    transition: 0.7s cubic-bezier(0.485, 0.135, 0, 0.995);
  }

  .menu-main-menu-container ul {
    left: 50px;
    right: unset;
  }

  .menu-main-menu-container ul li {
    display: block;
    text-align: left;
    margin-bottom: 15px;
  }

  .menu-main-menu-container.menu-open {
    -webkit-transform: translate(0px);
    -ms-transform: translate(0px);
    transform: translate(0px);
    -webkit-transition: 0.7s cubic-bezier(0.485, 0.135, 0, 0.995);
    -o-transition: 0.7s cubic-bezier(0.485, 0.135, 0, 0.995);
    transition: 0.7s cubic-bezier(0.485, 0.135, 0, 0.995);
  }

  .container {
    display: none;
  }
  .text-degree {
    font-size: 33px;
    position: absolute;
    margin-top: -30px;
  }
  .text-position{
    top: 31px;
  }
  .container__mobile {
    display: flex;
    flex-direction: column;
  }
  .container__mobile-block1 {
    top: 0;
    bottom: 0;
    margin: 0 auto;
    text-align: center;
    margin-top: 53px;
    margin-bottom: 19px;
  }
  .container__mobile-block1 h2 {
    font-family: "DinProBold";
    font-size: 50px;
    line-height: 40px !important;
    color: #000;
    margin-bottom: 4px;
  }
  .container__mobile-block1 h1 {
    font-family: "DinProBold";
    font-size: 90px;
    line-height: 71px !important;
    color: #b1212d;
  }
  .container__mobile-block2 {
    display: flex;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 17px;
  }
  .container__mobile-block2 img {
    width: 100%;
    height: 100%;
  }
  .container__mobile-block3 {
    display: flex;
    justify-content: center;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 22px;
  }
  .container__mobile-block3 span {
    font-family: "AvenirReg";
    font-size: 15px;
    color: #a1a1a2;
  }
  .container__mobile-block4 {
    display: flex;
    justify-content: center;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 20px;
  }
  .container__mobile-block4-img img {
    width: 100%;
    height: 100%;
  }
  .container__mobile-block4-text {
    display: flex;
    flex-direction: column;
    top: 0;
    bottom: 0;
    margin: auto 0;
    margin-left: 5%;
  }
  .container__mobile-block4-text span {
    font-family: "DinProBold";
    font-size: 32px;
    line-height: 25px !important;
    color: #000;
    margin-bottom: 14px;
  }
  .container__mobile-block5 {
    display: flex;
    justify-content: center;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 75px;
  }
  .container__mobile-block5 img {
    width: 100%;
    height: 100%;
  }
  .container__mobile-block6 {
    display: flex;
    flex-direction: column;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 17px;
  }
  .container__mobile-block6 h1 {
    font-family: "DinProBold";
    font-size: 90px;
    line-height: 71px !important;
    color: #b1212d;
    margin-bottom: 7px;
  }
  .container__mobile-block6 h2 {
    font-family: "DinProBold";
    font-size: 50px;
    line-height: 40px !important;
    color: #000;
    margin-bottom: 15px;
  }
  .container__mobile-block6 span {
    font-family: "AvenirReg";
    font-size: 15px;
    color: #a1a1a2;
  }
  .container__mobile-block7 {
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 54px;
  }
  .container__mobile-block7 img {
    height: 100%;
    width: 100%;
  }
  .container__mobile-block8 {
    display: flex;
    flex-direction: column;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 24px;
  }
  .container__mobile-block8-text h1 {
    font-family: "DinProBold";
    font-size: 90px;
    line-height: 71px !important;
    color: #b1212d;
    margin-bottom: 7px;
  }
  .container__mobile-block8-text h2 {
    font-family: "DinProBold";
    font-size: 50px;
    line-height: 40px !important;
    color: #000;
    margin-bottom: 18px;
  }
  .container__mobile-block8 img {
    height: 100%;
    width: 100%;
  }
  .container__mobile-block8 span {
    font-family: "AvenirReg";
    font-size: 15px;
    color: #a1a1a2;
    margin-top: 18px;
    margin-bottom: 20px;
  }
  .container__mobile-block9 {
    display: flex;
    flex-direction: column;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 24px;
  }
  .container__mobile-block9-text div {
    display: flex;
    justify-content: start;
    position: relative;
    margin-bottom: 8px;
  }
  .container__mobile-block9-text div h1 {
    font-family: "DinProBold";
    font-size: 90px;
    line-height: 71px !important;
    color: #b1212d;
  }
  .container__mobile-block9-text div h2 {
    font-family: "DinProBold";
    font-size: 50px;
    line-height: 40px !important;
    color: #000;
    position: absolute;
    bottom: 0;
    left: 80px;
  }
  .container__mobile-block9-text h2 {
    font-family: "DinProBold";
    font-size: 50px;
    line-height: 40px !important;
    color: #000;
    margin-bottom: 20px;
  }
  .container__mobile-block9 img {
    width: 100%;
    height: 100%;
    margin-bottom: 19px;
  }
  .container__mobile-block9-text-info-name {
    display: flex;
    flex-direction: column;
    margin-bottom: 4px;
  }
  .container__mobile-block9-text-info span {
    font-family: "AvenirReg";
    font-size: 15px;
    color: #a1a1a2;
  }
  .container__mobile-block9-text-info-name h2 {
    font-family: "DinProBold";
    font-size: 32px;
    line-height: 25px !important;
    color: #000;
    margin-bottom: 12px;
  }
  .container__mobile-block9-people {
    display: flex;
    flex-direction: column;
    margin-top: 38px;
  }
  .container__mobile-block9-people h2 {
    font-family: "DinProBold";
    font-size: 32px;
    line-height: 25px !important;
    color: #000;
  }
  .container__mobile-block9-people span {
    font-family: "AvenirReg";
    font-size: 15px;
    color: #a1a1a2;
    margin-top: 16px;
  }
  .container__mobile-block9-people img {
    width: 100%;
    height: 100%;
  }
  /* slide-up slide-up--scroll slide-up--loaded */
  .container__mobile-block10-header h1 {
    font-family: "DinProBold";
    font-size: 90px;
    line-height: 71px !important;
    color: #b1212d;
    margin-bottom: 8px;
  }
  .container__mobile-block10-header h2 {
    font-family: "DinProBold";
    font-size: 50px;
    line-height: 40px !important;
    color: #000;
  }
  .container__mobile-block10 {
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 20px;
    /* width: 100%; */
    height: 100%;
    margin-top: 10px;
  }
  .container__mobile-block10-people {
    margin-left: 3%;
    margin-right: 3%;
    display: flex;
    justify-content: start;
  }
  /* .container__mobile-block10-people div {
    display: flex;
    flex-direction: column;
    top: 0;
    bottom: 0;
    margin: auto 0;
  } */
  .container__mobile-block10-people-img img {
    width: 100%;
    height: auto;
  }
  .container__mobile-block10-people-text {
    display: flex;
    flex-direction: column;
    top: 0;
    bottom: 0;
    margin: auto 0;
    margin-left: 5%;
  }
  .container__mobile-block10-people-text h2 {
    font-family: "DinProBold";
    font-size: 32px;
    line-height: 25px !important;
    color: #000;
    width: 100%;
    height: 100%;
    margin-bottom: 15px;
  }
  .container__mobile-block10-people_main-text {
    font-family: "AvenirReg";
    font-size: 15px;
    color: #a1a1a2;
    margin-top: 16px;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 38px;
  }
  .container__mobile-block10-people-CG {
    display: flex;
    /* justify-content: space-between; */
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 16px;
  }
  .container__mobile-block10-people-CG-text {
    top: 0;
    bottom: 0;
    margin: auto 0;
    text-align: center;
    margin-right: 5%;
  }
  .container__mobile-block10-people-CG-text h2 {
    font-family: "DinProBold";
    font-size: 32px;
    line-height: 25px !important;
    color: #000;
    margin-bottom: 13px;
  }
  .container__mobile-block10-people-CG-img img {
    width: 100%;
    height: auto;
  }
  .container__mobile-block10-people-AY {
    display: flex;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 70px;
  }
  .container__mobile-block10-people-AY-img {
    margin-left: 5%;
    width: 70%;
  }
  .container__mobile-block10-people-AY-img img {
    width: 100%;
    height: auto;
  }
  .container__mobile-block10-people-AY-text h2 {
    font-family: "DinProBold";
    font-size: 32px;
    line-height: 25px !important;
    color: #000;
    margin: 0 auto;
    margin-bottom: 13px;
  }
  .container__mobile-block10-people-AY-text {
    top: 0;
    bottom: 0;
    margin: auto 0;
    width: 25%;
    margin-left: 5%;
  }
  .container__mobile-block11-header {
    display: flex;
    flex-direction: column;
    margin-left: 3%;
    margin-right: 3%;
  }
  .container__mobile-block11-header-line1 {
    display: flex;
    justify-content: start;
  }
  .container__mobile-block11-header-line1 h1 {
    font-family: "DinProBold";
    font-size: 90px;
    line-height: 71px !important;
    color: #b1212d;
    display: flex;
    align-items: flex-end;
    margin-right: 13px;
  }
  .container__mobile-block11-header-line1 h2 {
    font-family: "DinProBold";
    font-size: 50px;
    line-height: 40px !important;
    color: #000;
    display: flex;
    align-items: flex-end;
  }
  .container__mobile-block11-header h2 {
    font-family: "DinProBold";
    font-size: 50px;
    line-height: 40px !important;
    color: #000;
    margin-top: 8px;
  }
  .container__mobile-block11-main {
    margin-left: 3%;
    margin-right: 3%;
  }
  .container__mobile-block11-main img {
    width: 100%;
    height: 100%;
    margin-bottom: 13px;
    margin-top: 20px;
  }
  .container__mobile-block11-main span {
    font-family: "AvenirReg";
    font-size: 15px;
    color: #a1a1a2;
  }
  .autos-img {
    margin-top: 37px !important;
  }
  .withoutATitle1-img {
    margin-top: 37px !important;
  }
  .withoutATitle2-img {
    margin-top: 9px !important;
  }
  .container__mobile-block12 {
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 24px;
    margin-top: 57px;
  }
  .container__mobile-block12-header {
    margin-bottom: 20px;
  }
  .container__mobile-block12-header h1 {
    font-family: "DinProBold";
    font-size: 90px;
    line-height: 71px !important;
    color: #b1212d;
    margin-bottom: 10px;
  }
  .container__mobile-block12-header h2 {
    font-family: "DinProBold";
    font-size: 50px;
    line-height: 40px !important;
    color: #000;
  }
  .container__mobile-block12-main-block-img1 img {
    width: 100%;
    height: 100%;
    margin-bottom: 13px;
  }
  .container__mobile-block12-main-block span {
    font-family: "AvenirReg";
    font-size: 15px;
    color: #a1a1a2;
  }
  .container__mobile-block12-main-block-img2 img {
    width: 100%;
    height: 100%;
    margin-top: 20px;
    margin-bottom: 45px;
  }
  .container__mobile-block13 {
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 24px;
  }
  .container__mobile-block13-header div {
    display: flex;
    justify-content: start;
  }
  .container__mobile-block13-header div h1 {
    font-family: "DinProBold";
    font-size: 90px;
    line-height: 71px !important;
    color: #b1212d;
    margin-right: 13px;
  }
  .container__mobile-block13-header div h2 {
    font-family: "DinProBold";
    font-size: 50px;
    line-height: 40px !important;
    color: #000;
    display: flex;
    align-items: flex-end;
  }
  .container__mobile-block13-header h2 {
    font-family: "DinProBold";
    font-size: 50px;
    line-height: 40px !important;
    color: #000;
    margin-top: 8px;
  }
  .container__mobile-block13-main-block {
    margin-top: 13px;
  }
  .container__mobile-block13-main-block img {
    width: 100%;
    height: 100%;
    margin-top: 16px;
    margin-bottom: 12px;
  }
  .container__mobile-block13-main-block span {
    font-family: "AvenirReg";
    font-size: 15px;
    color: #a1a1a2;
  }
  .container__mobile-block14 {
    position: relative;
    /* margin-right: 3%; */
    margin-top: 41px;
  }
  .container__mobile-block14-map img {
    width: 75%;
    height: auto;
  }
  .container__mobile-block14-map-text {
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
  }
  .container__mobile-block14-map-text h1 {
    font-family: "DinProBold";
    font-size: 90px;
    line-height: 71px !important;
    color: #b1212d;
    margin-bottom: 14px;
  }
  .container__mobile-block14-map-text h2 {
    font-family: "DinProBold";
    font-size: 30px;
    line-height: 25px !important;
    color: #000;
    margin-bottom: 13px;
  }
  .container__mobile-block14-map-main {
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 24px;
    margin-top: 12px;
  }
  .container__mobile-block14-map-main span {
    font-family: "AvenirReg";
    font-size: 15px;
    color: #a1a1a2;
  }
  .container__mobile-block14-map-main img {
    width: 100%;
    height: auto;
  }
  .container__mobile-block14-map-main-shop-text {
    text-align: center;
    margin-top: 70px;
  }
  .container__mobile-block14-map-main h1 {
    font-family: "DinProBold";
    font-size: 90px;
    line-height: 71px !important;
    color: #b1212d;
    margin-bottom: 8px;
  }
  .container__mobile-block14-map-main h2 {
    font-family: "DinProBold";
    font-size: 50px;
    line-height: 40px !important;
    color: #000;
  }
  .img-shop1 {
    margin-top: 19px;
  }
  .img-shop2 {
    margin-top: 19px;
  }
  .container__mobile-block14-map-main-area-text {
    text-align: center;
  }
  .img-shop3 {
    margin-top: 19px;
  }
  .models-text {
    display: flex;
    justify-content: start;
    margin-bottom: 8px;
    margin-top: 70px;
  }
  .models-text h2 {
    display: flex;
    align-items: flex-end;
  }
  .models-text h1 {
    margin: 0;
  }
  .models-text1 {
    margin-bottom: 8px;
  }
  .img-BH {
    margin-top: 18px;
  }
  .text-BH {
    font-size: 32px !important;
    margin-top: 7px;
    margin-bottom: 9px;
  }
  .img-wA6 {
    margin-top: 18px;
    margin-bottom: 12px;
  }
  .img-wA7 {
    margin-top: 17px;
    margin-bottom: 12px;
  }
  .img-JT {
    margin-top: 75px;
    /* margin-bottom: 11px; */
  }
  .container__mobile-block14-map-main-name {
    text-align: center;
    margin-bottom: 40px;
    margin-top: 11px;
  }
  .container__mobile-block14-map-main-name h2 {
    font-size: 32px !important;
  }
  .dop-par {
    margin-top: 10px;
  }
  .dop-par1 {
    margin-bottom: 0px;
  }
  .body-container-wherenext h2 {
    font-size: 75px;
    margin-bottom: -2%;
  }

  .body-container-wherenext-container {
    flex-wrap: wrap;
  }

  .body-container-wherenext-container-item {
    width: 100%;
    max-width: 100%;
    margin-bottom: 90px;
  }

  .body-container-secret-head p {
    font-size: 32px;
  }

  .body-container-secret-author div {
    font-size: 42px;
  }

  .body-container-secret-author p {
    font-size: 14px;
  }

  .title-inner {
    font-size: 32px;
  }

  .body-container-secret-descr p {
    font-size: 16px;
  }

  .body-container-video-item {
    height: 300px;
  }

  .subtitle {
    margin-bottom: 20px;
    font-size: 16px;
  }

  .footer-container-main {
    flex-direction: column;
    align-items: center;
  }

  .footer {
    padding: 40px 30px;
  }

  .footer-container-item.logo {
    justify-content: center;
    width: 100%;
    max-width: 100%;
    display: flex;
  }

  .footer-container-item.brands {
    width: 100%;
    max-width: 100%;
    margin-top: 40px;
  }

  .footer-container-item.menu {
    width: 100%;
    max-width: 100%;
    justify-content: space-between;
    margin-top: 50px;
  }

  .footer-container-item.menu a {
    padding: 0;
    font-size: 22px;
  }

  .footer-container-brands-ul a {
    font-size: 14px;
  }

  /* .footer-item-first {
    padding: 20px 20px 20px 0 !important;
  }

  .footer-item-last {
    padding: 20px 0 20px 20px !important;
  } */

  .footer-container-many {
    flex-direction: column;
    justify-content: center;
    justify-content: center;
    align-items: center;
  }

  .footer-container-many-item.left {
    text-align: center;
  }

  .footer-container-many-item.right {
    margin-top: 10px;
    text-align: center;
  }
}

@media (max-width: 999px) {
  .menu-main-menu-container {
    position: fixed;
    -webkit-transform: translate(50vw);
    -ms-transform: translate(50vw);
    transform: translate(50vw);
    top: 0;
    right: 0;
    width: 50vw;
    height: 100vh;
    background-color: #000;
    -webkit-transition: 0.7s cubic-bezier(0.485, 0.135, 0, 0.995);
    -o-transition: 0.7s cubic-bezier(0.485, 0.135, 0, 0.995);
    transition: 0.7s cubic-bezier(0.485, 0.135, 0, 0.995);
  }

  .menu-main-menu-container ul {
    left: 50px;
    right: unset;
  }

  .menu-main-menu-container ul li {
    display: block;
    text-align: left;
    margin-bottom: 15px;
  }

  .menu-main-menu-container.menu-open {
    -webkit-transform: translate(0px);
    -ms-transform: translate(0px);
    transform: translate(0px);
    -webkit-transition: 0.7s cubic-bezier(0.485, 0.135, 0, 0.995);
    -o-transition: 0.7s cubic-bezier(0.485, 0.135, 0, 0.995);
    transition: 0.7s cubic-bezier(0.485, 0.135, 0, 0.995);
  }
}

@media (max-width: 767.98px) {
  .menu-main-menu-container {
    -webkit-transform: translate(100vw);
    -ms-transform: translate(100vw);
    transform: translate(100vw);
    width: 100vw;
  }
}
