* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  position: relative;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: "DinProBold";
  src: url("/assets/fonts/DINPro-Bold.otf");
  font-weight: bold;
  font-style: bold;
}

@font-face {
  font-family: "DinProBlack";
  src: url("/assets/fonts/DINPro-Black.ttf");
  font-weight: bold;
  font-style: bold;
}

@font-face {
  font-family: "MyriadPro";
  src: url("/assets/fonts/MyriadPro.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "AvenirReg";
  src: url("/assets/fonts/AvenirReg.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "AvenirItalic";
  src: url("/assets/fonts/AvenirItalic.ttf");
  font-weight: normal;
  font-style: normal;
}

.off-screen {
  opacity: 1;
}
.off-screen.off-screen--fade,
.off-screen.off-screen--from-left,
.off-screen.off-screen--from-right {
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
.off-screen--fade-up {
  -ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
.off-screen--fade-up.off-screen--hide,
.off-screen--fade-up.off-screen--static {
  -ms-transform: translateY(30px);
  -webkit-transform: translateY(30px);
  transform: translateY(30px);
  opacity: 0;
}
.off-screen--from-left {
  -ms-transform: translateX(0);
  -webkit-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
.off-screen--from-left.off-screen--hide {
  -ms-transform: translateX(70px);
  -webkit-transform: translateX(70px);
  transform: translateX(70px);
  opacity: 0;
}
.off-screen--hide.off-screen--from-left {
  -ms-transform: translateX(-150px);
  -webkit-transform: translateX(-150px);
  transform: translateX(-150px);
  opacity: 0;
}
.off-screen--hide.off-screen--from-right {
  -ms-transform: translateX(150px);
  -webkit-transform: translateX(150px);
  transform: translateX(150px);
  opacity: 0;
}
.off-screen--hide.off-screen--from-bottom {
  -ms-transform: translateY(150px);
  -webkit-transform: translateY(150px);
  transform: translateY(150px);
  opacity: 0;
}
.off-screen--hide.off-screen--fade {
  opacity: 0;
}

.off-screen--alternate > div > div {
  -ms-transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  opacity: 1;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
.off-screen--alternate > div.off-screen--hide:nth-child(2n) div:first-child {
  -ms-transform: translateX(150px);
  -webkit-transform: translateX(150px);
  transform: translateX(150px);
  opacity: 0;
}
.off-screen--alternate > div.off-screen--hide:nth-child(2n) div:nth-child(2) {
  -ms-transform: translateX(-150px);
  -webkit-transform: translateX(-150px);
  transform: translateX(-150px);
  opacity: 0;
}
.off-screen--alternate > div.off-screen--hide:nth-child(odd) div:first-child {
  -ms-transform: translateX(-150px);
  -webkit-transform: translateX(-150px);
  transform: translateX(-150px);
  opacity: 0;
}
.off-screen--alternate > div.off-screen--hide:nth-child(odd) div:nth-child(2) {
  -ms-transform: translateX(150px);
  -webkit-transform: translateX(150px);
  transform: translateX(150px);
  opacity: 0;
}
.off-screen--sequential > * {
  -ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.off-screen--sequential.off-screen--hide > * {
  -ms-transform: translateY(30px);
  -webkit-transform: translateY(30px);
  transform: translateY(30px);
  opacity: 0;
}
.off-screen--sequential > :first-child {
  -webkit-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
}
.off-screen--sequential > :nth-child(2) {
  -webkit-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
.off-screen--sequential > :nth-child(3) {
  -webkit-transition-delay: 0.4s;
  -o-transition-delay: 0.4s;
  transition-delay: 0.4s;
}
.off-screen--sequential > :nth-child(4) {
  -webkit-transition-delay: 0.6s;
  -o-transition-delay: 0.6s;
  transition-delay: 0.6s;
}
.off-screen--sequential > :nth-child(5) {
  -webkit-transition-delay: 0.8s;
  -o-transition-delay: 0.8s;
  transition-delay: 0.8s;
}
.off-screen--sequential > :nth-child(6) {
  -webkit-transition-delay: 1s;
  -o-transition-delay: 1s;
  transition-delay: 1s;
}
.off-screen--sequential > :nth-child(7) {
  -webkit-transition-delay: 1.2s;
  -o-transition-delay: 1.2s;
  transition-delay: 1.2s;
}
.off-screen--sequential > :nth-child(8) {
  -webkit-transition-delay: 1.4s;
  -o-transition-delay: 1.4s;
  transition-delay: 1.4s;
}
.off-screen--sequential > :nth-child(9) {
  -webkit-transition-delay: 1.6s;
  -o-transition-delay: 1.6s;
  transition-delay: 1.6s;
}
.off-screen--sequential > :nth-child(10) {
  -webkit-transition-delay: 1.8s;
  -o-transition-delay: 1.8s;
  transition-delay: 1.8s;
}
.off-screen--sequential > :nth-child(11) {
  -webkit-transition-delay: 2s;
  -o-transition-delay: 2s;
  transition-delay: 2s;
}
.off-screen--sequential > :nth-child(12) {
  -webkit-transition-delay: 2.2s;
  -o-transition-delay: 2.2s;
  transition-delay: 2.2s;
}
.off-screen--sequential > :nth-child(13) {
  -webkit-transition-delay: 2.4s;
  -o-transition-delay: 2.4s;
  transition-delay: 2.4s;
}
.off-screen--sequential > :nth-child(14) {
  -webkit-transition-delay: 2.6s;
  -o-transition-delay: 2.6s;
  transition-delay: 2.6s;
}
.off-screen--sequential > :nth-child(15) {
  -webkit-transition-delay: 2.8s;
  -o-transition-delay: 2.8s;
  transition-delay: 2.8s;
}
.off-screen--pop-up {
  overflow: hidden;
}
.off-screen--pop-up > * {
  -webkit-transition: 0.7s cubic-bezier(0.485, 0.135, 0, 0.995);
  -o-transition: 0.7s cubic-bezier(0.485, 0.135, 0, 0.995);
  transition: 0.7s cubic-bezier(0.485, 0.135, 0, 0.995);
  -webkit-transform: translate(0);
  -ms-transform: translate(0);
  transform: translate(0);
}
.off-screen--pop-up.off-screen--static--home > *,
.off-screen--pop-up.off-screen--static > * {
  -webkit-transform: translateY(110%);
  -ms-transform: translateY(110%);
  transform: translateY(110%);
  -webkit-transition: 0.7s cubic-bezier(0.485, 0.135, 0, 0.995);
  -o-transition: 0.7s cubic-bezier(0.485, 0.135, 0, 0.995);
  transition: 0.7s cubic-bezier(0.485, 0.135, 0, 0.995);
}

.slide-up div {
  overflow: visible;
}
.slide-up > div {
  overflow: hidden;
}
.slide-up > div > span {
  display: block;
  -webkit-transform: translateY(115%);
  -ms-transform: translateY(115%);
  transform: translateY(115%);
  -webkit-transition: 0.7s cubic-bezier(0.485, 0.135, 0, 0.995);
  -o-transition: 0.7s cubic-bezier(0.485, 0.135, 0, 0.995);
  transition: 0.7s cubic-bezier(0.485, 0.135, 0, 0.995);
}
.slide-up > div:last-of-type span {
  -webkit-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
.slide-up--loaded div span {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: 0.7s cubic-bezier(0.485, 0.135, 0, 0.995);
  -o-transition: 0.7s cubic-bezier(0.485, 0.135, 0, 0.995);
  transition: 0.7s cubic-bezier(0.485, 0.135, 0, 0.995);
}
.slide-up--loaded div:last-of-type span {
  -webkit-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
.slide-up--loaded.button-container div span {
  -webkit-transition: 0.6s ease-out;
  -o-transition: 0.6s ease-out;
  transition: 0.6s ease-out;
}
.slide-up--up div span {
  -webkit-transform: translateY(-110%);
  -ms-transform: translateY(-110%);
  transform: translateY(-110%);
  -webkit-transition: 0.7s cubic-bezier(0.485, 0.135, 0, 0.995);
  -o-transition: 0.7s cubic-bezier(0.485, 0.135, 0, 0.995);
  transition: 0.7s cubic-bezier(0.485, 0.135, 0, 0.995);
}

/* ﻿NAV */

.nav-container {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: center;

  width: 100%;
  margin-top: 52px;
  text-transform: uppercase;
}

.menu-main-menu-container {
  margin-left: auto;
  margin-right: 3%;
}

.nav-logo-container {
  margin-left: 3%;
  cursor: pointer;
}

.nav-link-container {
  display: flex;
  margin-left: auto;
  margin-right: 3%;

  flex-flow: row;
  flex-wrap: nowrap;
}

.link {
  font-family: "DinProBold";
  white-space: nowrap;

  margin: 20px;
  padding: 3px;
  text-align: center;

  font-size: 18px;

  position: relative;
  color: #fff;
  cursor: pointer;
  line-height: 1;
  text-decoration: none;
}
.link:hover{
  text-decoration: none;
  color: white;
}

.link:after {
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #fff;
  content: "";
  transition: width 0.3s ease-out;
}

.link:hover:after,
.link:focus:after {
  width: 100%;
}

/* MOBILE */
@media (max-width: 999px) {
  .menu-main-menu-container {
    margin-right: 0;
  }

  .nav-link-container {
    flex-direction: column;
    margin-top: 90px;
    margin-left: 60px;
  }

  .nav-link-container a {
    width: fit-content;
  }
}

/* MAIN */
.main-container {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;

  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  background-image: url(/assets/image/brand/crosby/background.png);
}

.main-container-content {
  height: 100%;
  max-width: 1440px;
  width: 100%;

  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  padding-top: 7px;
}

/* PHOTO CONTAINER */
.photo-container {
  height: 100%;
  max-width: 1330px;
  width: 100%;
  margin: 0 auto;
  margin-top: 120px;

  display: flex;
}

.photo-container-content {
  display: flex;
  width: 100%;
}

.photo-container-content-left {
  height: 950px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.photo-container-content-right-text {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 5%;
  padding-right: 5%;
}

.photo-container-content-right-text p {
  font-family: "AvenirReg";
  color: #858586;
  width: 93%;
  height: fit-content;
}

.photo-container-content-right {
  height: 950px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-end;
}

.photo-container-content-right-img img {
  height: 100%;
}

/* VIDEO CONTAINER */
.video-container {
  max-width: 1330px;
  width: 100%;
  margin: 0 auto;

  display: flex;
}

.video-container-content {
  display: block;
  width: 100%;
  height: 630px;
}

.video {
  width: 100%;
}

/* BODY WHERE NEXT */
.body-container-wherenext {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding-top: 185px;
  padding-bottom: 185px;
  margin-top: 90px;
}

.body-container-wherenext h2 {
  font-family: "DinProBold";
  width: 100%;

  top: 0;
  position: absolute;
  text-align: center;
  color: #c6cad245;
  user-select: none;
  font-size: 240px;
  z-index: 1;
}

.body-container-wherenext-container {
  max-width: 1360px;
  width: 100%;

  display: flex;
  margin: 0 auto;
  margin-top: 40px;
}

.body-container-wherenext-container-item {
  position: relative;
  max-width: 33%;
  padding-right: 15px;
  padding-left: 15px;
}

.body-container-wherenext-container-item a {
  color: #13212e;
  text-decoration: none;
  background-color: transparent;
}

.teaser {
  text-align: center;
  border: 1px solid #000;
  padding: 50px 30px;
}

.teaser p {
  font-family: "AvenirReg";

  font-size: 18px;
  line-height: 1.58824;
  color: #858586;

  margin-top: 0;
  min-height: 130px;
}

.teaser-title {
  position: absolute;
  top: -17px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}

.teaser-title h3 {
  font-family: "DinProBold";
  background-color: #fff;
  margin-bottom: 0.5rem;
  content: "";

  position: relative;
  padding: 0 10px;
  display: inline-block;

  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;

  line-height: 1;
  letter-spacing: -0.3px;
}

.teaser-title-xs {
  position: relative;
  padding: 0 10px;
  display: inline-block;
  font-size: 2.5rem;
  line-height: 1;
  letter-spacing: -0.3px;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  color: #000;
}

.title__inner {
  font-family: "DinProBold";

  line-height: 1;
  letter-spacing: -0.3px;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  color: #000;
  text-align: center;
}

.teaser-button {
  font-family: "DinProBold";

  position: absolute;
  bottom: -31px;
  left: 50%;
  transform: translateX(-50%);
}

.teaser-button span {
  font-family: "DinProBold";
}

.teaser-button-ghost {
  min-width: 184.77px;
  border: solid 1px #000;
  color: transparent;
  background-color: #fff;
  position: relative;
  display: inline-block;
  line-height: 1.5;
  padding: 19px 45px;
  border-radius: 0px;
  cursor: pointer;
  overflow: hidden;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 0.95px;
  transition: 0.2s all ease-in;
  text-align: center;
}

.button {
  position: relative;
  display: inline-block;
  font-size: 0.9375rem;
  line-height: 1.5;
  font-family: din-condensed, sans-serif;
  letter-spacing: 0.95px;
  text-transform: uppercase;
  color: transparent;
  background-color: #000;
  padding: 19px 45px;
  border-radius: 0px;
  cursor: pointer;
  overflow: hidden;
  -webkit-transition: 0.2s all ease-in;
  -moz-transition: 0.2s all ease-in;
  -ms-transition: 0.2s all ease-in;
  -o-transition: 0.2s all ease-in;
  transition: 0.2s all ease-in;
}

.button > div {
  overflow: hidden;
  position: relative;
}

.button > div:before {
  content: attr(button-text);
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  color: #fff;
  z-index: -1;
  padding: 19px 45px;
}

.button > div > span {
  display: block;
  color: #fff;
  -webkit-transition: 0.7s cubic-bezier(0.485, 0.135, 0, 0.995);
  -o-transition: 0.7s cubic-bezier(0.485, 0.135, 0, 0.995);
  transition: 0.7s cubic-bezier(0.485, 0.135, 0, 0.995);
}

.button > div > span.hidden {
  -webkit-transform: translateY(-18%);
  -ms-transform: translateY(-18%);
  transform: translateY(-18%);
  position: absolute;
}

.button > div:before {
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
  -webkit-transition: 0.7s cubic-bezier(0.485, 0.135, 0, 0.995);
  -o-transition: 0.7s cubic-bezier(0.485, 0.135, 0, 0.995);
  transition: 0.7s cubic-bezier(0.485, 0.135, 0, 0.995);
}

.button:before {
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
  -webkit-transition: 0.2s all ease-in;
  -moz-transition: 0.2s all ease-in;
  -ms-transition: 0.2s all ease-in;
  -o-transition: 0.2s all ease-in;
  transition: 0.2s all ease-in;
}

.button:after {
  -webkit-transition: 0.2s all ease-in;
  -moz-transition: 0.2s all ease-in;
  -ms-transition: 0.2s all ease-in;
  -o-transition: 0.2s all ease-in;
  transition: 0.2s all ease-in;
}

.button:hover span {
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: 0.7s cubic-bezier(0.485, 0.135, 0, 0.995);
  -o-transition: 0.7s cubic-bezier(0.485, 0.135, 0, 0.995);
  transition: 0.7s cubic-bezier(0.485, 0.135, 0, 0.995);
}

.button:hover span.hidden {
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: 0.7s cubic-bezier(0.485, 0.135, 0, 0.995);
  -o-transition: 0.7s cubic-bezier(0.485, 0.135, 0, 0.995);
  transition: 0.7s cubic-bezier(0.485, 0.135, 0, 0.995);
  -webkit-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.button--full-width {
  display: block;
  text-align: center;
  margin-right: 0;
}

.button--is-active {
  pointer-events: none;
  color: white;
}

.button--white {
  color: black;
  background-color: white;
}

.button--white > div span {
  color: #000;
}

.button--ghost {
  border: solid 1px #fff;
  background-color: transparent;
  color: transparent;
}

.button--ghost--black {
  border: solid 1px #000;
  color: transparent;
  background-color: #fff;
}

.button--ghost--black > div > span {
  color: #000;
}

.button--ghost--black:after,
.button--ghost--black:before,
.button--ghost--black span {
  color: #000;
}

.button:focus,
.button:hover {
  text-decoration: none;
}

/* FOOTER */
.footer {
  padding: 80px 0;
  background-color: #000;
  color: #fff;
}

.footer-container-item.logo {
  flex: 0 0 20%;
  max-width: 20%;
}

.footer-container-main {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  max-width: 1360px;
  width: 100%;

  margin-top: 80px;
  margin: auto;
  margin-bottom: 80px;
}

.footer-container-item.menu {
  display: flex;
  justify-content: flex-end;
  flex: 0 0 40%;
  max-width: 40%;
}

/* @media (min-width: 992px) {
  .footer-container-item.menu {
      margin-left: 8.33333%;
  } */

.footer-container-item.menu a {
  font-family: "DinProBold";
  font-size: 26px;
  text-transform: uppercase;

  color: #ffffff;
  white-space: nowrap;
  cursor: pointer;
  padding: 20px;
  text-align: center;
}

.footer-container-item.brands {
  flex: 0 0 40%;
  max-width: 40%;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.footer-container-brands-head {
  font-family: "DinProBold";
  position: relative;
  font-size: 26px;
  text-transform: uppercase;

  color: #fff;
  line-height: 1;
  margin-bottom: 25px;
}

.footer-container-brands-head::before {
  content: "";
  right: 0;
  top: 50%;
  position: absolute;
  width: calc(100% - 100px);
  height: 1px;
  background-color: #fff;
}

.footer-container-brands-ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-container-brands-ul a {
  font-family: "AvenirReg";
  font-size: 16px;
  text-decoration: none;
  outline: none;

  color: #fff;
  list-style: none;
  text-indent: 0;
  margin-bottom: 4px;
  text-transform: uppercase;
}

.footer-container-many {
  display: flex;
  max-width: 1360px;
  width: 100%;
  margin: auto;
}

.footer-container-many-item {
  font-family: "AvenirReg";
  font-size: 14px;

  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

.footer-container-many-item.right {
  text-align: right;
}

@media (max-width: 999px) {
  .main-container-content-logo img {
    width: 70%;
    height: auto;
    padding: 0 31px 0 31px;
  }

  .photo-container {
    margin-top: 0;
    height: fit-content;
  }

  .photo-container-content {
    padding: 31px;
    flex-direction: column-reverse;
    align-items: center;
    display: flex;
    width: 100%;
  }

  .main-container {
    height: 90%;
    background-image: url(/assets/image/brand/crosby/Header.png);
  }


  .photo-container-content img {
    height: auto;
    width: 100%;
  }
  /* TOP IMG */
  .photo-container-content-right-text {
    margin-bottom: 31px;
  }

  .photo-container-content-right {
    width: 100%;
    height: fit-content;
    margin-bottom: 31px;
  }

  .photo-container-content-right-img img {
    width: 100%;
  }

  /* BOTTOM IMG */
  .photo-container-content-left {
    width: 100%;
    height: fit-content;
  }

  .first-image {
    margin-bottom: 31px;
  }

  /* VIDEO */
  .video-container-content {
    height: fit-content;
  }

  /* WHERE NEXT */
  .body-container-wherenext h2 {
    max-width: 1330px;
    width: 100%;
    font-size: 75px;
    margin-bottom: -4%;
  }

  .body-container-wherenext {
    margin-top: 50px;
    padding-top: 85px;
    padding-bottom: 0;
  }

  .body-container-wherenext-container {
    flex-wrap: wrap;
  }

  .body-container-wherenext-container-item {
    width: 100%;
    max-width: 100%;
    margin-bottom: 90px;
    padding-left: 31px;
    padding-right: 31px;
  }

  /* FOOTER */
  .footer-container-main {
    flex-direction: column;
    align-items: center;
  }

  .footer {
    padding: 40px 30px;
  }

  .footer-container-item.logo {
    justify-content: center;
    width: 100%;
    max-width: 100%;
    display: flex;
  }

  .footer-container-item.brands {
    width: 100%;
    max-width: 100%;
    margin-top: 40px;
  }

  .footer-container-item.menu {
    width: 100%;
    max-width: 100%;
    justify-content: space-between;
    margin-top: 50px;
  }

  .footer-container-item.menu a {
    padding: 0;
    font-size: 22px;
  }

  .footer-container-brands-ul a {
    font-size: 14px;
  }

  .footer-container-many {
    flex-direction: column;
    justify-content: center;
    justify-content: center;
    align-items: center;
  }

  .footer-container-many-item.left {
    text-align: center;
  }

  .footer-container-many-item.right {
    margin-top: 10px;
    text-align: center;
  }
}

/* / MENU / */
.menu__open__icon {
  height: 60px;
  width: 62px;
  position: fixed;
  right: 0;
  top: 50px;
  background-color: black;
  z-index: 9999;
}

@media (min-width: 999px) {
  .menu__open__icon {
    display: none;
  }
}

.hamburger__inner {
  position: absolute;
  top: 50%;
  left: 26px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 15px;
  height: 2px;
  background-color: white;
}

.hamburger__inner:before {
  content: "";
  position: absolute;
  top: -7px;
  left: 0px;
  width: 25px;
  height: 2px;
  background-color: white;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  -o-transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

.hamburger__inner:after {
  content: "";
  position: absolute;
  top: 7px;
  left: 0px;
  width: 20px;
  height: 2px;
  background-color: white;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  -o-transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

.hamburger__inner.open-menu {
  background-color: transparent;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.hamburger__inner.open-menu:after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 0px;
  width: 25px;
}

.hamburger__inner.open-menu:before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 0px;
}

@media (max-width: 999px) {
  .menu-main-menu-container {
    position: fixed;
    -webkit-transform: translate(50vw);
    -ms-transform: translate(50vw);
    transform: translate(50vw);
    top: 0;
    right: 0;
    width: 50vw;
    height: 100vh;
    background-color: #000;
    -webkit-transition: 0.7s cubic-bezier(0.485, 0.135, 0, 0.995);
    -o-transition: 0.7s cubic-bezier(0.485, 0.135, 0, 0.995);
    transition: 0.7s cubic-bezier(0.485, 0.135, 0, 0.995);
  }

  .menu-main-menu-container ul {
    left: 50px;
    right: unset;
  }

  .menu-main-menu-container ul li {
    display: block;
    text-align: left;
    margin-bottom: 15px;
  }

  .menu-main-menu-container.menu-open {
    -webkit-transform: translate(0px);
    -ms-transform: translate(0px);
    transform: translate(0px);
    -webkit-transition: 0.7s cubic-bezier(0.485, 0.135, 0, 0.995);
    -o-transition: 0.7s cubic-bezier(0.485, 0.135, 0, 0.995);
    transition: 0.7s cubic-bezier(0.485, 0.135, 0, 0.995);
  }
}

@media (max-width: 767.98px) {
  .menu-main-menu-container {
    -webkit-transform: translate(100vw);
    -ms-transform: translate(100vw);
    transform: translate(100vw);
    width: 100vw;
  }
}
